.accordion {
	display: flex;
	flex-direction: column;
	gap: toRem(20);
	// .accordion__item
	&__item {
		display: flex;
		flex-direction: column;
		padding: 0 toRem(30);
		height: 100%;
		border: 1px solid var(--border);
		border-radius: var(--radius8);

		&.drop {
			& > .accordion__content {
				height: 100%;
				padding-bottom: toRem(20);
			}

			& > .accordion__head {
				& .accordion__img {
					background-color: var(--primary);
				}
				& .accordion__svg {
					transform: rotate(180deg);
					color: var(--text-inverse);
				}
			}
		}
		@media (max-width: $mobileSmall) {
			padding: 0 toRem(15);
		}
	}

	&__head {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(10);
		padding: toRem(30) 0;
		cursor: pointer;
	}

	&__wrap {
		display: flex;
		gap: toRem(80);
		width: 90%;
		@media (max-width: $mobile) {
			flex-direction: column;
			gap: toRem(20);
			align-items: flex-start;
		}
	}

	&__img {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(27);
		height: toRem(27);
		min-width: toRem(27);
		min-height: toRem(27);
		border-radius: 50%;
		background-color: var(--light);
		overflow: hidden;
		cursor: pointer;
		@media (max-width: $mobile) {
			align-self: flex-start;
		}

		@media (any-hover: hover) {
			&:hover {
				.accordion__svg {
					color: var(--primary);
				}
			}
		}
	}

	&__svg {
		width: 60%;
		height: 60%;
		color: var(--text-secondary);
		transform: rotate(0deg);
		transition: transform 0.3s ease;
	}

	&__description {
		display: flex;
		flex-direction: column;
		gap: toRem(5);
	}

	// .accordion__title
	&__title {
		font-weight: 600;
		font-size: toRem(18);
		color: var(--text-primary);
		@media (max-width: toEm(1280)) {
			font-size: toRem(16);
		}
	}

	&__subtitle {
		font-weight: 400;
		font-size: toRem(14);
		color: var(--text-secondary);
		@media (max-width: $mobile) {
			font-size: toRem(12);
		}
	}

	// .accordion__content
	&__content {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: toRem(20);
		height: 0;
		overflow: hidden;
		& .button {
			width: fit-content;
		}
	}
}

.money {
	// .money__sum
	display: flex;
	justify-content: center;
	align-items: center;
	gap: toRem(5);
	font-weight: 600;
	font-size: toRem(18);

	color: #333;

	&__sum {
		display: flex;
	}

	// .money__value

	&__value {
	}

	// .money__currency

	&__currency {
	}

	// .money__plus

	&__plus {
	}

	// .money__percent

	&__percent {
	}
}
