.aside-menu {
	position: fixed;
	top: 0;
	left: -100%;
	z-index: 8;
	width: 100vw;
	height: 100svh;
	transition: left 0.3s ease;

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba(0, 0, 0, 0.8);
		transition: opacity 1s ease;
	}

	&__content {
		width: 50%;
		height: 100%;
		position: relative;
		padding: toRem(40);
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		background-color: var(--bg-primary);
		overflow: auto;
	}

	&__close {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(15);
		@media (any-hover: hover) {
			&:hover {
				& .svg-arrow-close {
					color: var(--for-false);
				}
			}
		}
	}

	&__body {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		& .mobile-back {
			padding-left: toRem(0);
		}
	}

	// первая вложенность
	&__item {
		// position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(6);
		text-transform: uppercase;
		font-weight: 600;
		font-size: toRem(14);
		padding: toRem(10) 0;
		& .aside-menu__link {
			@media (any-hover: hover) {
				&:hover {
					color: var(--primary);
				}
			}
		}

		&.drop {
			& > .aside-menu__drop {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 6;
				display: flex;
				width: 100%;
				height: 100vh;
				background-color: var(--bg-primary);

				& > .aside-menu__body {
					display: flex;
					max-width: none;
					overflow: auto;
					gap: toRem(15);
					padding: toRem(40);
					& > .mobile-back {
						display: flex;
					}
					& > .aside-menu__title {
						font-weight: 700;
						font-size: toRem(18);
						text-transform: uppercase;
						color: var(--text-primary);
						padding: toRem(10) 0;
						border-top: 1px solid var(--border);
						border-bottom: 1px solid var(--border);
						@media (any-hover: hover) {
							&:hover {
								color: var(--primary);
							}
						}
					}
					& > .aside-menu__list {
						display: flex;
						flex-direction: column;
						gap: toRem(15);
						& > .aside-menu__item {
							& > .aside-menu__link {
								text-transform: none;
							}
						}
					}
				}
			}
		}
	}

	&__svg {
		display: flex;
		align-items: center;
		cursor: pointer;
		transform: rotate(-90deg);
		& .svg-arrow-down {
			transition: all 0.3s ease;
		}
		@media (any-hover: hover) {
			&:hover {
				.svg-arrow-down {
					color: var(--primary);
				}
			}
		}
	}

	&__drop {
		display: none;
	}

	&__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		font-weight: 600;
		font-size: toRem(18);
	}

	& .contacts-email {
		display: flex;
		gap: toRem(15);

		// .contacts-email__svg
		&__svg {
			display: flex;
			align-items: center;
			justify-content: center;
			width: toRem(27);
			height: toRem(27);
		}
		&__link {
			display: flex;
			align-items: center;
			@media (any-hover: hover) {
				&:hover {
					color: var(--primary);
				}
			}
		}
	}

	& .svg-arrow-close {
		width: 27px;
		height: 27px;
		transform: rotate(-180deg);
	}

	& .svg-arrow-down {
		height: toRem(15);
		width: toRem(15);
	}

	.menu-open & {
		left: 0;
		transition: left 0.3s ease;
		&__overlay {
			opacity: 1;
		}
	}

	& .aside-phone {
		position: relative;

		&__wrapper {
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&__body {
			display: flex;
			align-items: center;
			gap: toRem(15);
		}

		&__item {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&__svg {
			width: toRem(27);
			height: toRem(27);
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__link {
			font-weight: 700;
			font-size: toRem(16);
			text-wrap: nowrap;
			@media (any-hover: hover) {
				&:hover {
					color: var(--primary);
				}
			}
		}
		&__arrow {
			display: flex;
			align-items: center;
			justify-content: center;
			width: toRem(27);
			height: toRem(27);
			cursor: pointer;
			transform: rotate(-90deg);
		}
		&__dropdown {
			position: absolute;
			top: -12px;
			left: -5px;
			z-index: 5;
			background-color: var(--bg-primary);
			width: 50vw;
			max-width: 220px;
			display: none;
			border-radius: 8px;
			box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
		}

		&.drop {
			& .phone-dropdown {
				display: flex;
				align-self: flex-start;
				flex-direction: column;
				height: 100vh;
				width: 50vw;
				max-width: none;
				position: fixed;
				left: 0;
				top: 0;
				z-index: 7;
				background-color: #fff;
				border-radius: 0;
			}
			& .mobile-back {
				display: flex;
				padding-top: toRem(40);
				padding-left: toRem(35);
			}
		}
	}

	& .phone-dropdown {
		// .phone-dropdown__item
		&__item {
			flex-direction: row;
			gap: toRem(10);
		}
	}
}
