.control {
	display: flex;
	align-items: center;

	// .control__list
	&__list {
		display: flex;
		align-items: center;
		gap: toRem(16);
	}

	// .control__item
	&__item {
		width: fit-content;
		& .dropdown {
			&-head {
				border-radius: toRem(32);
			}
			@media (any-hover: hover) {
				&:hover {
					& .dropdown-head {
						background-color: var(--text-inverse);
						color: var(--primary);

						&__trigger {
							& svg {
								transform: rotate(180deg);
							}
						}
					}
					& .dropdown-body {
						display: flex;
					}
					&::before {
						content: " ";
						height: toRem($width);
						width: 100%;
						position: absolute;
						top: 100%;
						left: 0;
						z-index: 5;
					}
				}
			}
		}
	}

	// .control__button
	&__button {
		color: var(--text-inverse);
		width: toRem(32);
		height: toRem(32);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		overflow: hidden;
		& svg {
			width: toRem(24);
			height: toRem(24);
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--text-inverse);
				color: var(--primary);
			}
		}
	}

	&-button {
		color: var(--text-inverse);
		&__button {
			position: relative;
			padding: toRem(12) toRem(16);
			display: flex;
			align-items: center;
			gap: toRem(5);
			color: var(--text-inverse);
			border-radius: toRem(32);
			border: 1px solid var(--text-inverse);
			overflow: hidden;
			cursor: pointer;
			& svg {
				width: toRem(24);
				height: toRem(24);
			}
			@media (any-hover: hover) {
				&:hover {
					background-color: var(--text-inverse);
					color: var(--primary);

					& .control-button__quantity {
						background-color: var(--primary);
						color: var(--text-inverse);
					}
				}
			}
		}
		&__quantity {
			font-weight: 400;
			font-size: toRem(12);
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--text-inverse);
			color: var(--primary);
			width: toRem(20);
			height: toRem(20);
			border-radius: 50%;
			overflow: hidden;
		}
	}
}
