.hover {
	&__bg {
		width: 100%;
		height: 100%;
		display: block;

		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		&::after {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			width: 100%;
			height: 100%;
			z-index: 0;
			opacity: 1;
			transition: 0.3s;
			background: linear-gradient(180deg, rgba(51, 51, 51, 0) 0%, #000 100%);
		}
		&::before {
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			opacity: 0;
			transition: 0.3s;
			background: rgba(0, 0, 0, 0.7);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__wrapper {
		position: relative;
		z-index: 2;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: toRem(20) toRem(20) toRem(23);
	}

	&__title {
		font-weight: 600;
		font-size: toRem(16);
		color: var(--text-inverse);
		@media (max-width: toEm(520)) {
			font-size: toRem(14);
		}
	}

	&__bottom {
		width: 100%;
		position: relative;
		z-index: 3;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	&-content {
		display: flex;
		flex-direction: column;
		height: 0;
		overflow: hidden;
		transition: height 0.3s;

		&__text {
			margin: toRem(15) 0;
			font-weight: 400;
			font-size: toRem(15);
			line-height: 1.4;
			color: var(--text-inverse);
		}

		&__description {
			display: flex;
			flex-direction: column;
			margin-bottom: toRem(30);
			padding: 0 toRem(10) 0 toRem(30);
			@media (max-width: toEm(1280)) {
				padding-left: toRem(20);
			}
		}

		&__title {
			padding: toRem(15) toRem(10) toRem(15) toRem(30);
			font-weight: 600;
			font-size: toRem(16);
			color: var(--text-inverse);
			@media (max-width: toEm(1280)) {
				padding: toRem(15) toRem(10) toRem(15) toRem(20);
			}
		}

		&__list-wrap {
			color: var(--text-inverse);
			font-weight: 400;
			font-size: toRem(15);
			line-height: 1.4;
		}

		&__list-title {
			font-weight: 600;
		}

		&__price-wrap {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: toRem(26) toRem(30);

			&::before {
				content: ' ';
				height: 1px;
				width: 100%;
				background-color: var(--text-inverse);
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
			}

			@media (max-width: toRem(1440)) {
				gap: toRem(20);
			}

			@media (max-width: toEm(1280)) {
				padding: toRem(15) toRem(10) toRem(15) toRem(20);
			}

			@media (max-width: toRem(991)) {
				flex-direction: row;
				gap: toRem(15);
				padding: toRem(15) toRem(15);
			}
		}

		&__price {
			display: flex;
			flex-direction: column;
			color: var(--text-inverse);
			font-weight: 400;
			font-size: toRem(15);
			line-height: 1.67;

			& del {
				font-weight: 400;
				font-size: toRem(14);
			}

			@media (max-width: toRem(1440)) {
				flex-direction: row;
				width: 100%;
				justify-content: space-around;
				align-items: center;
				flex-wrap: wrap;
			}
		}

		&__buttons {
			position: relative;
			z-index: 10;
			display: flex;
			align-items: center;
			justify-content: center;
			font-weight: 700;
			font-size: toRem(16);
			text-align: center;
			color: var(--bg-primary);
			@media (max-width: toRem(1440)) {
				width: 100%;
			}
		}

		&__button {
			padding: 12px 25px;
		}
	}

	&:hover {
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

		.hover__bg {
			&:after {
				opacity: 0;
			}

			&:before {
				opacity: 1;
			}
		}

		.hover__item {
			padding: 0;
		}
		.hover__wrapper {
			padding: toRem(30);
			display: none;
		}

		.hover-content {
			height: auto;
			overflow: auto;
		}

		.hover__bottom {
			min-height: 100%;
			height: auto;
		}
	}
}
