.majority {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 20;
	transform: translateY(100%);
	transition: transform 0.3s ease;
	width: 100%;
	opacity: 0;
	backdrop-filter: blur(5px);
	background: rgba(241, 241, 241, 0.4);

	&__container {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(20);
		max-width: toRem(890);
		background-color: rgba(80, 87, 89, 0.7);
		border-radius: var(--radius8);
		overflow: hidden;

		background:
			linear-gradient(rgba(80, 87, 89, 0.7), rgba(80, 87, 89, 0.7)),
			url("@img/majority/majorityBG.png") no-repeat,
			center / cover;

		@include adaptiveValue("padding-top", 125, 10);
		@include adaptiveValue("padding-right", 77, 10);
		@include adaptiveValue("padding-bottom", 66, 10);
		@include adaptiveValue("padding-left", 77, 10);

		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}

	&__title {
		font-family: var(--second-family);
		font-weight: 500;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: var(--white);
		text-align: center;
		@include adaptiveValue("font-size", 20, 15);
	}

	&__text {
		font-family: var(--second-family);
		font-weight: 500;
		letter-spacing: 0.02em;
		text-transform: uppercase;
		color: var(--white);
		text-align: center;
		@include adaptiveValue("font-size", 34, 24);
	}

	&__settings {
		color: var(--primary);
		align-self: flex-start;
		@media (any-hover: hover) {
			&:hover {
				color: var(--pant-425-c);
			}
		}
	}

	&__button {
		display: flex;
		max-width: fit-content;
		@include adaptiveValue("gap", 28, 10);
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
		& button {
			font-family: var(--second-family);
			font-weight: 700;
			letter-spacing: 0.02em;
			text-transform: uppercase;
			background: var(--pant-425-c);
			color: var(--pant-420-s);
			padding: 7px 82px;
			@include adaptiveValue("font-size", 30, 15);
			&:first-child {
				border: 3px solid var(--white);
			}
		}
	}

	&.active {
		transform: translateY(0);
		opacity: 1;
	}
}
