.options {
	position: relative;

	&__title {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(10);
		cursor: pointer;
	}

	&__text {
		font-weight: 400;
		font-size: toRem(14);
		line-height: toRem(19.5);
	}

	&__svg {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(24);
		height: toRem(24);
		& svg {
			width: 50%;
			height: 50%;
		}
	}

	&__content {
		display: none;
		position: absolute;
		top: 100%;
		left: toRem(-16);
		z-index: 8;
		width: calc(100% + toRem(16) * 2);
		background-color: var(--bg-primary);
		border-radius: 0 0 var(--radius8) var(--radius8);
		border-left: 1px solid var(--border);
		border-right: 1px solid var(--border);
		border-bottom: 1px solid var(--border);
		@media (max-width: toEm(576)) {
			width: calc(100% + toRem(6) * 2);
			left: toRem(-6);
		}
	}

	// .options__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(10);
		padding: toRem(15);
	}

	// .options__item
	&__item {
		color: var(--primary);
		border-radius: toRem(10);
		overflow: hidden;
		border: 1px solid var(--primary);
		padding: toRem(12);
		min-width: toRem(40);
		min-height: toRem(40);
		opacity: 0.5;
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				color: var(--text-inverse);
			}
		}
		@media (max-width: toEm(576)) {
			font-size: toRem(11);
		}

		&.active {
			background-color: var(--primary);
			color: var(--text-inverse);
			opacity: 1;
		}
	}

	&.drop {
		& .options__title {
			border: none;
		}
		& .options__content {
			display: flex;
		}
		& .options__svg {
			& > svg {
				transform: rotate(180deg);
			}
		}
	}
}
