.block {
	display: flex;

	&__container {
		width: 100%;
		// overflow: hidden;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		padding: toRem(40) 0;
	}

	// .block__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: toRem(46);
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		position: relative;
		font-family: $fontFamily2;
		font-weight: 600;
		font-size: toRem(28);
		color: var(--text-primary);
		&::after {
			content: " ";
			position: absolute;
			bottom: -20px;
			left: 0;
			z-index: 0;
			width: toRem(90);
			height: 3px;
			background-color: var(--bg-inverse);
		}

		@media (max-width: toEm(1280)) {
			font-size: toRem(26);
		}
	}
	&__text {
		font-family: var(--font-family);
		font-weight: 300;
		font-size: 16px;
		line-height: 1.4;
		color: #333;
	}

	&__reference {
		align-self: flex-end;
		@media (max-width: toEm(400)) {
			& .reference {
				&__text {
					display: none;
				}
				&__img {
					border: 1px solid var(--primary);
					border-radius: 50%;
				}
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(30);
	}

	// .block__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}

	// .block__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .block__button
	&__button {
		border-radius: var(--radius8);
		padding: toRem(13) toRem(75);
		font-weight: 700;
		font-size: toRem(16);
		box-shadow:
			0 4px 4px 0 rgba(0, 0, 0, 0.3),
			0 8px 12px 6px rgba(0, 0, 0, 0.15);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				color: var(--text-inverse);
			}
		}
	}
}
