.block {
	display: flex;

	&__container {
		width: 100%;
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		padding: toRem(80) 0 0 0;
	}

	// .block__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: toRem(46);
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: toRem(30) 0;
		border-top: 1px solid var(--pant-420-s);
	}

	&__title {
		position: relative;

		font-family: var(--font-family);
		font-weight: 700;
		font-size: 40px;
		text-transform: uppercase;
		text-align: center;
		color: var(--pant-445-c);

		@media (max-width: toEm(1280)) {
			font-size: toRem(26);
		}
	}

	&__reference {
		display: none;
		align-self: flex-end;
		@media (max-width: toEm(400)) {
			display: none;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(30);
	}

	// .block__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}

	&__accent {
		padding-bottom: toRem(80);
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 50px;
		text-transform: uppercase;
		text-align: center;
		color: transparent;

		-webkit-text-stroke: 1px var(--pant-445-c);
		text-stroke: 1px var(--pant-445-c);

		-webkit-background-clip: text;
		background-clip: text;
	}

	// .block__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .block__button
	&__button {
		border: 0.5px solid var(--pant-420-s);
		padding: 18px 36px;
		background: var(--pant-425-c);
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 16px;
		text-transform: uppercase;
		color: var(--white);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--pant-420-s);
			}
		}
	}
}
