.block {
	display: flex;

	&__container {
		width: 100%;
		overflow: hidden;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		padding: toRem(40) 0;
	}

	// .block__inner
	&__inner {
		display: flex;
		flex-direction: column;
		gap: toRem(46);
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		position: relative;
		font-weight: 600;
		font-size: toRem(28);
		color: var(--text-primary);
		&::after {
			content: " ";
			position: absolute;
			bottom: -20px;
			left: 0;
			z-index: 0;
			width: toRem(90);
			height: 3px;
			background-color: var(--primary);
		}

		@media (max-width: toEm(1280)) {
			font-size: toRem(26);
		}
	}

	&__reference {
		align-self: flex-end;
		@media (max-width: toEm(400)) {
			display: none;
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(30);
	}

	// .block__content
	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}

	// .block__buttons
	&__buttons {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .block__button
	&__button {
		border: 1px solid var(--primary);
		border-radius: var(--radius8);
		padding: toRem(13) toRem(75);
		font-weight: 700;
		font-size: toRem(16);
		color: var(--primary);
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				color: var(--text-inverse);
			}
		}
	}
}
