.page-menu {
	width: 100%;
	transition: left 0.3s ease;
	border: 1px solid var(--border);
	border-radius: var(--radius8);
	overflow: hidden;

	&__body {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	// первая вложенность
	&__item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		font-weight: 400;
		font-size: toRem(14);
		line-height: 1.29;
		color: var(--text-primary);
		&:not(:last-child) {
			border-bottom: 1px solid var(--border);
		}

		&.active {
			& > .page-menu__control {
				& > .page-menu__link {
					font-weight: 600;
				}
			}
		}

		&.drop {
			background: var(--primary);
			& > .page-menu__control {
				& .page-menu__link {
					color: var(--text-inverse);
				}
				& .svg-arrow-down {
					color: var(--text-inverse);
					transform: rotate(90deg);
				}
			}
			& > .page-menu__drop {
				display: flex;
				width: 100%;
				height: auto;
				background-color: var(--bg-primary);
			}
		}
	}

	&__control {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: toRem(20) toRem(16);

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				& .page-menu__link {
					color: var(--text-inverse);
				}
				& .svg-arrow-down {
					color: var(--text-inverse);
				}
			}
		}
	}

	&__svg {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(24);
		height: toRem(24);
		cursor: pointer;
		transform: rotate(-90deg);
		& .svg-arrow-down {
			width: toRem(10);
			height: toRem(6);
			transition: all 0.3s ease;
		}
	}

	&__drop {
		display: none;
		width: 100%;
		height: 0;
		transition: left 0.2s ease;
		background-color: var(--bg-primary);
		box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
		overflow: hidden;
	}
}
