.preview {
	position: relative;
	width: 100%;
	min-height: toRem(550);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		overflow: hidden;
		box-shadow:
			0 4px 4px 0 rgba(0, 0, 0, 0.3),
			0 8px 12px 6px rgba(0, 0, 0, 0.15);

		&::after {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			width: 100%;
			height: 100%;
			z-index: 1;
			background: rgba(0, 0, 0, 0.2);
			pointer-events: none;
		}
		& img {
			width: 100%;
			height: 100%;
			display: flex;
			object-fit: cover;
		}
	}

	&__container {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: toRem(40);
		width: 100%;
		position: relative;
		z-index: 1;
		margin-top: toRem(50);
		margin-bottom: toRem(50);
		@media (max-width: toEm(570)) {
			margin-top: toRem(30);
			margin-bottom: toRem(30);
			gap: toRem(15);
		}
	}

	// .preview__description
	&__description {
		display: flex;
		flex-direction: column;
		gap: toRem(15);
	}

	// .preview__title
	&__title {
		font-weight: 700;
		line-height: 1.1;
		color: var(--text-inverse);
		display: -webkit-box;
		line-clamp: 4;
		-webkit-line-clamp: 4;
		// -webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		@include adaptiveValue("font-size", 40, 20);
		@media (max-width: $mobileSmall) {
			line-clamp: 7;
			-webkit-line-clamp: 7;
		}
	}

	// .preview__text
	&__text {
		font-weight: 500;
		line-height: 1.5;
		color: var(--text-inverse);
		display: -webkit-box;
		line-clamp: 4;
		-webkit-line-clamp: 4;
		//-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		@include adaptiveValue("font-size", 16, 14);
	}

	// .preview__buttons
	&__buttons {
		display: flex;
		gap: toRem(20);
		flex-wrap: wrap;
		& button {
			border-radius: 8px;
			padding: 13px 50px;
			box-shadow:
				0 4px 4px 0 rgba(0, 0, 0, 0.3),
				0 8px 12px 6px rgba(0, 0, 0, 0.15);
			background: #fff;
		}
		@media (max-width: toEm(570)) {
			gap: toRem(10);
		}
	}
}
