.price {
	display: flex;
	gap: toRem(5);

	& > &__actual {
		font-family: var(--font-family);
		font-weight: 700;
		font-size: 20px;
		line-height: 1.05;
	}

	& > &__old {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 13px;
		line-height: 1.61538;
		text-decoration: line-through;
		color: #a1a1a1;
	}
}
