.price {
	display: flex;
	gap: toRem(5);

	&__actual {
		font-weight: 600;
		font-size: toRem(18);
	}

	&__old {
		font-weight: 400;
		font-size: toRem(14);
		line-height: 1.57;
		text-decoration: line-through;
		color: var(--text-secondary);
	}
}
