.preview {
	position: relative;
	width: 100%;
	min-height: toRem(600);
	aspect-ratio: 1920 / 720;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		overflow: hidden;
		&::after {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			display: flex;
			width: 100%;
			height: 100%;
			z-index: 1;
			// background: rgba(0, 0, 0, 0.6);
			pointer-events: none;
		}
		& img {
			width: 100%;
			height: 100%;
			display: flex;
			object-fit: cover;
			object-position: 70%;
		}
	}

	&__container {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: toRem(40);
		width: 100%;
		position: relative;
		z-index: 1;
	}

	// .preview__description
	&__description {
		display: flex;
		flex-direction: column;
		width: 100%;
		// max-width: percent(1460, $maxWidthContainer);
		max-width: 30%;
		gap: toRem(55);
		align-self: flex-start;
		@media (max-width: toEm(1280)) {
			gap: toRem(50);
			max-width: 40%;
		}
		@media (max-width: $tablet) {
			max-width: 83.6%;
		}
		@media (max-width: $mobile) {
			gap: toRem(15);
		}
		@media (max-width: toEm(698)) {
		}
	}

	// .preview__title
	&__title {
		font-weight: 700;
		font-size: toRem(40);
		color: var(--text-inverse);
		@media (max-width: $mobile) {
			font-size: toRem(36);
		}
		@media (max-width: $mobileSmall) {
			font-size: toRem(20);
		}
	}

	// .preview__text
	&__text {
		font-weight: 500;
		font-size: toRem(16);
		line-height: 1.5;
		color: var(--text-inverse);
	}

	// .preview__buttons
	&__buttons {
		display: flex;
		gap: toRem(20);
		flex-wrap: wrap;
	}
}
