// Block link
.reference {
	// .reference__text
	&__text {
		font-weight: 600;
		font-size: toRem(20);
		color: var(--text-accent);
	}

	// .reference__link
	&__link {
		display: flex;
		align-items: center;
		gap: toRem(8);
		@media (any-hover: hover) {
			&:hover {
				& .reference__text {
					color: var(--primary);
				}
				& .reference__img {
					background-color: var(--primary);
				}
				& .reference__svg {
					color: var(--inverse);
				}
			}
		}
	}

	&__img {
		width: toRem(32);
		height: toRem(32);
		border-radius: 50%;
		border: 1px solid var(--primary);
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .reference__svg
	&__svg {
		width: toRem(8);
		height: toRem(14);
		transform: rotate(-90deg);
	}
}
