.search {
	// position: fixed;
	// top: -150%;
	// left: 50%;
	// transform: translateX(-50%);
	// z-index: 1;
	max-width: toRem(550);
	width: 100%;
	height: 100%;
	// overflow-y: auto;
	// overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-end;
	position: relative;

	&__container {
		display: flex;
		align-items: center;
		justify-content: flex-end;
	}

	&-top {
		width: 100%;
		// background-color: var(--primary);
	}

	&-bottom {
		position: absolute;
		z-index: 16;
		top: calc(100% + toRem(10));
		left: 0;
		width: 100%;

		background: rgba(51, 51, 51, 0.49);
		backdrop-filter: blur(0.1875rem);
		padding: 10px;
		border-radius: 8px;
		display: none;
		align-items: center;
		justify-content: center;

		& > div {
			height: 100%;
		}
		& .search__container {
			border-radius: 0 0 8px 8px;
			padding: toRem(20) toRem(10);
			display: flex;
			flex-direction: column;
			gap: toRem(10);
			height: 100%;
			width: 100%;

			&:has(.text_general) {
				padding: toRem(20);
			}
		}

		&.active {
			display: flex;
		}
	}

	&-form {
		width: 100%;

		display: flex;
		align-items: center;
		gap: toRem(10);
		border-radius: var(--radius8);
		align-items: center;
		justify-content: flex-end;
		&__inlet {
			height: toRem(45);
			background-color: var(--bg-primary);
			display: flex;
			align-items: center;
			align-self: flex-end;
			max-width: toRem(550);
			width: 100%;
			// flex: 0 1 550px;
			// margin: toRem(15) 0;
			border: 1px solid #a1a1a1;
			border-radius: var(--radius8);
			overflow: hidden;
			@media (max-width: $mobileSmall) {
				width: 100%;
				margin: 0;
			}
		}

		&__input {
			display: flex;
			height: 100%;
			width: 100%;
			padding: 0 toRem(15);
			border-radius: var(--radius8);
			// border: 1px solid var(--border);
			outline: none;
			background-color: var(--bg-secondary);
			&::placeholder {
				font-weight: 500;
				font-size: 14px;
				line-height: 1.14286;
				color: var();
			}
		}

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: toRem(45);
			width: toRem(75);
			background-color: var(--primary);
			color: var(--text-inverse);
			& svg {
				height: toRem(24);
				width: toRem(24);
			}

			@media (any-hover: hover) {
				&:hover {
					background-color: var(--accent);
				}
			}
		}

		&__control {
			display: flex;
			align-items: center;
			gap: toRem(10);
			@media (max-width: $mobileSmall) {
				width: 100%;
				justify-content: space-between;
			}
		}

		&__search {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: toRem(10) toRem(30);
			border: 1px solid var(--border);
			border-radius: var(--radius8);
			overflow: hidden;
			color: var(--text-inverse);
			font-weight: 600;
			font-size: 0.9375rem;
			@media (any-hover: hover) {
				&:hover {
					border-color: var(--primary);
					background-color: var(--text-inverse);
					color: var(--primary);
				}
			}
		}

		&__close {
			display: flex;
			justify-content: center;
			align-items: center;
			height: toRem(30);
			width: toRem(30);
			border-radius: var(--radius8);
			overflow: hidden;
			background-color: var(--text-inverse);
			color: var(--primary);
			& svg {
				height: toRem(24);
				width: toRem(24);
			}
			@media (any-hover: hover) {
				&:hover {
					color: var(--for-false);
				}
			}
		}
		@media (max-width: $mobileSmall) {
			flex-direction: column-reverse;
			padding: toRem(10) 0;
		}
	}

	&-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(20);
		padding: toRem(5) 0;
		max-height: toRem(300);
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
		&__buttons {
			align-self: center;
		}

		&__link {
			position: relative;
			color: var(--text-inverse);
			&:last-child {
				margin-bottom: toRem(10);
			}
			&::after {
				content: " ";
				position: absolute;
				top: calc(100% + 5px);
				left: 50%;
				transform: translateX(-50%);
				width: 0;
				height: 0.125rem;
				z-index: 5;
				background-color: var(--text-inverse);
				transition: width 0.3s ease;
			}
			@media (any-hover: hover) {
				&:hover {
					// color: var(--primary);
					&::after {
						width: 100%;
					}
				}
			}
		}
	}

	&.active {
		visibility: visible;
		z-index: 17;
		top: 0;
	}

	&-element {
		&__list {
			display: flex;
			flex-direction: column;
			gap: toRem(10);
		}

		&__item {
			display: flex;
			align-items: center;
			gap: toRem(10);
			border-radius: var(--radius8);
			border: 1px solid var(--border);
			overflow: hidden;
			margin-right: toRem(3);
			@media (max-width: $mobileSmall) {
				flex-direction: column;
			}
		}

		&__preview {
			display: flex;
			max-width: 14.375rem;
			min-width: toRem(172);
			width: 100%;
			aspect-ratio: 400 / 260;
			@media (max-width: $mobileSmall) {
				max-width: toRem(160);
				min-width: toRem(100);
			}
		}

		&__details {
			display: flex;
			flex-direction: column;
			gap: toRem(10);
			padding: toRem(10) 0;
			@media (max-width: $mobileSmall) {
				padding: toRem(10) toRem(10);
			}
		}

		&__title {
			font-size: toRem(16);
			font-weight: 500;
			@include textOverflow(2, 16, 1);
		}

		&__text {
			font-size: toRem(14);
			@include textOverflow(3, 14, 1);
		}
	}
}
