.search {
	position: fixed;
	top: -150%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	// visibility: hidden;
	&-top {
		width: 100%;
		background-color: var(--bg-primary);
	}

	&-bottom {
		width: 100%;
		background-color: var(--bg-primary);
		& .search__container {
			border-radius: 0 0 8px 8px;
			padding-top: toRem(20);
		}
	}

	&-form {
		width: 100%;
		display: flex;
		align-items: center;
		gap: toRem(10);

		border-radius: var(--radius8);
		padding: 0 toRem(5);
		&__inlet {
			height: toRem(45);
			background-color: var(--bg-primary);
			display: flex;
			align-items: center;
			flex: 1 1 auto;
			margin: toRem(15) 0;
			border-radius: var(--radius8);
			overflow: hidden;
		}

		&__input {
			display: flex;
			height: 100%;
			width: 100%;
			padding: 0 toRem(15);
			border-radius: var(--radius8);
			border: 1px solid var(--border);
			outline: none;
			&::placeholder {
				font-weight: 500;
				font-size: 14px;
				line-height: 1.14286;
				color: var();
			}
		}

		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			height: toRem(45);
			width: toRem(45);
			& svg {
				height: toRem(24);
				width: toRem(24);
			}

			@media (any-hover: hover) {
				&:hover {
					color: var(--primary);
				}
			}
		}

		&__control {
			display: flex;
			align-items: center;
			gap: toRem(10);
		}

		&__search {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: toRem(10) toRem(30);
			border: 1px solid var(--border);
			border-radius: var(--radius8);
			overflow: hidden;
			color: var(--text-inverse);
			font-weight: 600;
			font-size: 0.9375rem;
			@media (any-hover: hover) {
				&:hover {
					border-color: var(--primary);
					background-color: var(--text-inverse);
					color: var(--primary);
				}
			}
		}

		&__close {
			display: flex;
			justify-content: center;
			align-items: center;
			height: toRem(30);
			width: toRem(30);
			border-radius: var(--radius8);
			overflow: hidden;
			background-color: var(--text-inverse);
			color: var(--primary);
			& svg {
				height: toRem(24);
				width: toRem(24);
			}
			@media (any-hover: hover) {
				&:hover {
					color: var(--for-false);
				}
			}
		}
	}

	&-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(20);
		margin-bottom: toRem(20);
	}

	&.active {
		visibility: visible;
		z-index: 17;
		top: 0;
	}
}
