.page-slider {
	width: 80%;
	overflow: visible;
	margin: 0;
	aspect-ratio: 900 / 420;
	height: 100%;
	display: flex;
	align-self: center;

	// .page-slider__slide
	&__slide {
		border-radius: var(--radius8);
		overflow: hidden;
		& img {
			display: flex;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	// .page-slider__pagination
	&__pagination {
		bottom: toRem(20) !important;
	}

	@media (max-width: toEm(698)) {
		width: 100%;
	}
}

.page-slider-prev {
	left: toRem(-50);
	right: auto;
	& svg {
		transform: rotate(90deg);
	}
}
.page-slider-next {
	left: auto;
	right: toRem(-50);
	& svg {
		transform: rotate(-90deg);
	}
}
