.partners {
	// .partners__list
	&__list {
		// display: flex;
		// align-items: center;
		// flex-wrap: wrap;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(160), 1fr));
		gap: toRem(20);

		@media (max-width: $tablet) {
			gap: toRem(16);
		}
		@media (max-width: toEm(698)) {
			gap: toRem(14);
		}
		@media (max-width: toEm(479)) {
			gap: toRem(10);
			grid-template-columns: repeat(2, 1fr);
		}
	}

	// .partners__link
	&__img {
		// width: calc((100% - toRem(20) * 7) / 8);
		// min-width: toRem(159);
		height: toRem(90);
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid var(--border);
		border-radius: var(--radius8);
		appearance: none;

		& img {
			padding: toRem(5);
			max-width: 100%;
			max-height: 100%;
		}

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
			}
		}
	}

	// @media (max-width: toEm(991)) {
	// 	.partners__img {
	// 		width: calc((100% - toRem(16) * 4) / 5);
	// 	}
	// }
	// @media (max-width: toEm(698)) {
	// 	.partners__img {
	// 		width: calc((100% - toRem(14) * 3) / 4);
	// 	}
	// }
	// @media (max-width: toEm(479)) {
	// 	.partners__img {
	// 		width: calc((100% - toRem(10) * 1) / 2);
	// 	}
	// }
}
