.about {
	&__description {
		display: grid;
		gap: toRem(20);
		flex: 1 0 48.8%;
		align-items: flex-start;

		& .block {
			&__buttons {
				align-self: flex-end;
				justify-self: flex-start;
			}
		}
	}
	&:has(.about__img) {
		.block {
			&__body {
				flex-direction: row;
				@media (max-width: toRem(1200)) {
					flex-direction: column-reverse;
				}
			}
		}

		.about {
			&__img {
				position: relative;
				width: calc(100% / 2 - 10px);
				height: auto;
				border-radius: var(--radius8);
				overflow: hidden;

				img {
					display: block;
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center;
				}
			}

			&__overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.2);
				z-index: 2;
				display: none;
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}
}
