.teaser {
	width: 100%;
	margin: toRem(60) 0 toRem(40) 0;
	@media (max-width: $mobile) {
		margin: toRem(20) 0 toRem(20) 0;
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-radius: 10px;
		overflow: hidden;
		background-color: var(--primary);
		padding: toRem(10);
		@include boxShadow();
	}

	&__cell {
		flex: 1 1 auto;
		width: calc((100%) / 6);
		min-width: toRem(250);
		padding: toRem(10);
		display: flex;
		justify-content: center;
	}

	&__item {
		width: 100%;
		display: flex;
		gap: toRem(20);
		padding: 0 toRem(15);
	}

	&__ic {
		display: flex;
		width: toRem(70);
		height: toRem(70);

		& svg {
			display: flex;
			height: toRem(50);
			width: toRem(50);
		}
	}

	&__svg {
		color: var(--primary);
	}

	&__tx {
		display: flex;
		font-family: $fontFamily2;
		font-weight: 400;
		font-size: 15px;
		line-height: 1.2;
		color: var(--text-inverse);
		// @include textOverflow(1, 15, 1.2);
	}
	&__descr {
		font-weight: 400;
		font-size: toRem(13);
		line-height: 1.67;
		// color: var(--text-secondary);
		@include textOverflow(3, 13, 1.6);
	}

	&_colored {
		background: var(--border);
	}

	&_vertical {
		& .teaser {
			&__cell {
				// max-width: toRem(335);
				// width: 100%;
				// align-items: center;
			}
			&__item {
				flex-direction: column;
				align-items: center;
			}
			&__tx {
				text-align: center;
			}
			&__descr {
				text-align: center;
			}
			&__ic {
				align-items: center;
				justify-content: center;
				border-radius: 50%;
				overflow: hidden;
				border: 1px solid var(--primary);
			}
			&__text {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
		}
	}

	&-slider {
		overflow: hidden;
		margin-top: 2.5rem;
	}
}
