// ===============
// colors palette
// ===============

:root {
	// Site colors:
	// =================================================================

	// OKLCH variable
	--lit: 72.2%; // lightness
	--chm: 29%; // chroma
	--hue: 227.794deg; // hue
	--alpha: 0.5; // alpha
	--prc: 15%;

	// Main & hover colors:
	// =================================================================
	--primary: oklch(var(--lit) var(--chm) var(--hue));
	--secondary: oklch(calc(var(--lit) - var(--prc)) var(--chm) var(--hue));
	--accent: oklch(calc(var(--lit) - var(--prc)) var(--chm) var(--hue));
	--transparent: oklch(var(--lit) var(--chm) var(--hue) / var(--alpha));
	--light: oklch(calc(var(--lit) + var(--prc)) calc(var(--chm)) var(--hue));

	--inverse: #e7e7e7;

	// Background colors:
	// =================================================================

	--bg-primary: #ffffff; // BG primary background color
	--bg-secondary: #f4f4f4; // BG secondary background color
	--bg-dark: #2f3338;
	--bg-accent: #46b4de; // BG accent
	--bg-inverse: #000000; // BG inverse

	// Text colors:
	// =================================================================

	--text-primary: #333333; // Text primary text color
	--text-secondary: #666666; // Text secondary text color
	--text-accent: #000000; // Text accent
	--text-inverse: #ffffff; // Text inverse

	// Other color
	// =================================================================
	--for-false: #ed0006;
	--price-in-product: #e25c44;
	--star: #ffd02e;
	--border: #e7e7e7;
	--decorBg: rgba(255, 255, 255, 0.4);
	--product-new: #4fad00;
	--product-sale: #e25c44;
	--product-hit: #2992d9;
	--product-promotion: #e25c44;
	--product-advise: #893ca9;
	--product-order: #f9a000;
	--product-orderHover: #e09200;
}
