// ===============
// colors palette
// ===============
:root {
	// Site colors:
	// =================================================================
	--primary: #46b4de; // Site main color
	--secondary: #2ba8da; // Site secondary color
	--inverse: #e7e7e7; // Site inverse color
	--accent: #0090c1; // Site accent color

	// Background colors:
	// =================================================================
	--bg-primary: #ffffff; // BG primary background color
	--bg-secondary: #f4f4f4; // BG secondary background color
	--bg-dark: #2f3338;
	--bg-accent: #46b4de; // BG accent
	--bg-inverse: #000000; // BG inverse

	// Text colors:
	// =================================================================
	--text-primary: #333333; // Text primary text color
	--text-secondary: #a1a1a1; // Text secondary text color
	--text-accent: #000000; // Text accent
	--text-inverse: #ffffff; // Text inverse
	// =================================================================

	// Other color
	// =================================================================
	--for-false: #ed0006;
	--border: #e7e7e7;
	--decorBg: rgba(255, 255, 255, 0.4);
}
