// ===============
// colors palette
// ===============

:root {
	// Site colors:
	// =================================================================

	// OKLCH variable
	--lit: 72.2%; // lightness
	--chm: 29%; // chroma
	--hue: 227.794deg; // hue
	--alpha: 0.2; // alpha
	--prc: 15%;  //percent change from main color

	// Main & hover colors:
	// =================================================================
	--primary: oklch(var(--lit) var(--chm) var(--hue));
	--secondary: oklch(calc(var(--lit) - var(--prc)) var(--chm) var(--hue));
	--accent: oklch(calc(var(--lit) - var(--prc)) var(--chm) var(--hue));
	--transparent: oklch(var(--lit) var(--chm) var(--hue) / var(--alpha));
	--light: oklch(calc(var(--lit) + var(--prc)) calc(var(--chm)) var(--hue));

	// Background colors:
	// =================================================================

	--bg-lit: 100%;
	--bg-chm: 0%;
	--bg-hue: 89.876deg;

	--bg-primary: oklch(var(--bg-lit) var(--bg-chm) var(--bg-hue));
	--bg-secondary: oklch(calc(var(--bg-lit) - var(--prc)) var(--bg-chm) var(--bg-hue));
	--bg-dark: oklch(30% var(--bg-chm) var(--bg-hue));

	// Text colors:
	// =================================================================
	--tx-lit: 0%;
	--tx-chm: 0%;
	--tx-hue: 89.876deg;
	--tx-prc: 30%;

	--text-accent: oklch(0% 0% 0deg); // Text dark
	--text-primary: oklch(calc(var(--tx-lit) + var(--tx-prc)) var(--tx-chm) var(--tx-hue));
	--text-secondary: oklch(calc(var(--tx-lit) + var(--tx-prc) + 20%) var(--tx-chm) var(--tx-hue));
	--text-inverse: oklch(100% 0% 89.876deg); // Text inverse

	// Other color
	// =================================================================
	--for-false: #ed0006;
	--price-in-product: #e25c44;
	--star: #ffd02e;
	--border: #e7e7e7;
	--decorBg: rgba(255, 255, 255, 0.4);
	--product-new: #4fad00;
	--product-sale: #e25c44;
	--product-hit: #2992d9;
	--product-promotion: #e25c44;
	--product-advise: #893ca9;
	--product-order: #f9a000;
	--product-orderHover: #e09200;
}
