body::after {
	content: "";
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.8s ease 0s;
	pointer-events: none;
	z-index: 149;
}
.popup-show body::after {
	opacity: 1;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 30px 10px;
	transition: visibility 0.8s ease 0s;
	transition-behavior: allow-discrete;
	visibility: hidden;
	pointer-events: none;
	scrollbar-width: thin;
}
.popup_show {
	z-index: 150;
	visibility: visible;
	overflow: auto;
	pointer-events: auto;
}
.popup_show .popup__content {
	visibility: visible;
	transform: scale(1);
}
.popup__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup__content {
	visibility: hidden;
	transform: scale(0);
	transition: transform 0.3s ease 0s;
	background-color: var(--bg-primary);
	padding: 20px;
	width: 100%;
	max-width: 900px;
	border-radius: var(--radius8);
	padding: toRem(10) toRem(30) toRem(30) toRem(30);
	gap: 20px;

	.lock & {
		visibility: visible;
	}
}

.popup {
	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
		max-width: toRem(460);
	}
	&__buttons {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
	}
	&__text:not(:first-child) {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: toRem(20);
		max-width: toRem(400);
		align-self: center;
	}
	&__title {
		align-self: center;
		font-size: toRem(26);
		font-weight: 600;
	}
	&__subtitle {
		font-size: toRem(16);
		font-weight: 500;
		line-height: 1.2;
		color: var(--text-secondary);
		text-align: center;
	}

	&__back {
		visibility: hidden;
	}

	&__close {
		width: toRem(27);
		height: toRem(27);
		align-self: flex-end;
		& .svg-arrow-close {
			width: 100%;
			height: 100%;
			color: var(--text-secondary);
		}

		@media (any-hover: hover) {
			&:hover {
				& .svg-arrow-close {
					color: var(--for-false);
				}
			}
		}
	}

	&#thank {
		& .popup {
			&__content {
				max-width: toRem(460);
			}

			&__title {
				font-size: toRem(34);
			}
			&__text {
				padding: 0 0 toRem(30) 0;
			}
			&__title {
				font-size: toRem(26);
				font-weight: 600;
				line-height: 31.69px;
			}
			&__subtitle {
				font-size: toRem(16);
				font-weight: 500;
				line-height: 1.2;
				color: var(--text-secondary);
				text-align: center;
			}
		}
	}

	& .form {
		&__button {
			width: 100%;
			display: flex;
			align-items: center;
			gap: toRem(15);
			& button {
				width: 100%;
			}
		}
	}

	&#cookie-setting {
		& .popup {
			&__content {
				padding: toRem(30);
				max-width: toRem(520);
			}
		}
	}
}
