.tabs {
	display: flex;
	flex-direction: column;
	gap: toRem(30);

	// .tabs__navigation
	&__navigation {
		display: flex;
		gap: toRem(12);
		overflow: auto;
		&::-webkit-scrollbar {
			display: block;
			width: toRem(2);
			height: toRem(4);
			background-color: var(--border);
		}
		&::-webkit-scrollbar-thumb {
			display: block;
			width: toRem(2);
			height: toRem(4);
			background-color: var(--primary);
		}
	}
	// .tabs__title
	&__title {
		display: flex;
		width: fit-content;
		border: 1px solid var(--text-secondary);
		border-radius: var(--radius8);
		padding: toRem(12) toRem(10);
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 15px;
		line-height: 1.66667;
		text-align: center;
		color: var(--text-secondary);
		text-wrap: nowrap;
		margin-bottom: toRem(5);
		&._tab-active {
			border: 1px solid var(--primary);
			background-color: var(--primary);
			background: #000;
			color: #fff;
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body:not([hidden]) {
		display: flex;
		flex-direction: column;
		gap: toRem(20);

		& .text_general {
			font-family: var(--font-family);
			font-weight: 400;
			font-size: 18px;
			line-height: 1.4;
			color: #000;
		}
	}

	&__include {
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		overflow: hidden;
	}

	&_simple {
		& .tabs {
			&__navigation {
				box-shadow:
					0 4px 4px 0 rgba(0, 0, 0, 0.3),
					0 8px 12px 6px rgba(0, 0, 0, 0.15);
				border-radius: 8px;
				padding-left: toRem(32);
				@include adaptiveValue("padding-left", 32, 10);
			}
			&__title {
				border: none;
				background-color: transparent;
				font-weight: 400;
				font-size: 16px;
				color: var(--text-accent);
				padding: toRem(17) toRem(10) toRem(12) toRem(10);
				&._tab-active {
					font-weight: 600;
				}
			}
		}
	}
}
