.tabs {
	display: flex;
	flex-direction: column;
	gap: toRem(30);
	// .tabs__navigation
	&__navigation {
		display: flex;
		gap: toRem(12);
	}
	// .tabs__title
	&__title {
		border: 1px solid var(--text-secondary);
		border-radius: var(--radius8);
		padding: toRem(8) toRem(10);
		font-weight: 400;
		font-size: toRem(15);
		line-height: 1.67;
		text-align: center;
		color: var(--text-secondary);
		&._tab-active {
			border: 1px solid var(--primary);
			background-color: var(--primary);
			color: var(--text-inverse);
		}
	}
	// .tabs__content
	&__content {
	}
	// .tabs__body
	&__body:not([hidden]) {
		display: flex;
		flex-direction: column;
		gap: toRem(20);
	}

	&__include {
		display: flex;
		flex-direction: column;
		gap: toRem(40);
	}
}
