:root {
	--radius8: 8px;
	--viber: #893ca9;
	--telegram: #46b4de;
	--whatsapp: #6bbf70;
	--youtube: #ed0006;
	--instagram: #fa692c;
	--facebook: #3757ea;
	--vk: #436df5;

	--font-family: "Arial", sans-serif;
	--second-family: "Montserrat", sans-serif;
	--third-family: "Minion Pro", sans-serif;
	--font3: "FontAwesome", sans-serif;
	--font4: "Inter", sans-serif;
}
