:root {
	--font-primary: "Montserrat";
	--font-family: "Rubik";
	--radius8: 8px;
	--viber: #893ca9;
	--telegram: #46b4de;
	--whatsapp: #6bbf70;
	--youtube: #ed0006;
	--instagram: #fa692c;
	--facebook: #3757ea;
	--vk: #436df5;
}
