.service {
	width: 100%;

	&-slider {
		padding: toRem(40) toRem(40) toRem(40) toRem(40);
		overflow: hidden;
	}

	&__content {
		position: relative;
	}

	&__list {
		width: 100%;
		// display: flex;
		// flex-wrap: wrap;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(320), 1fr));
		gap: toRem(20);
		@media (max-width: $tablet) {
			gap: toRem(16);
		}
		@media (max-width: $mobile) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(220), 1fr));
		}
		@media (max-width: toEm(576)) {
			gap: toRem(14);
		}
		@media (max-width: toEm(360)) {
			gap: toRem(10);
		}
	}

	&__card {
		// width: calc((100% - toRem(20) * 3) / 4);
		height: auto;
		border-radius: var(--radius8);
		border: 1px solid var(--border);
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		// gap: toRem(18);
		box-shadow:
			0 4px 4px 0 rgba(0, 0, 0, 0.3),
			0 8px 12px 6px rgba(0, 0, 0, 0.15);
		background: #fff;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.25);
			}
		}

		// @media (max-width: $tablet) {
		// 	width: calc((100% - toRem(16) * 3) / 4);
		// }
		// @media (max-width: $mobile) {
		// 	width: calc((100% - toRem(16) * 2) / 3);
		// }
		// @media (max-width: toEm(576)) {
		// 	width: calc((100% - toRem(14) * 2) / 3);
		// }
		@media (max-width: toEm(520)) {
			// width: calc((100% - toRem(14) * 1) / 2);
			gap: toRem(5);
		}
		// @media (max-width: toEm(360)) {
		// 	width: calc((100% - toRem(10) * 1) / 2);
		// }
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
	}

	&__img {
		&-wrap {
			position: relative;
			width: 100%;
			flex: 0 1 toRem(216);
			overflow: hidden;
			display: flex;
			// @include linerGradient();
			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__text {
		& .title_h3 {
			font-family: var(--font-family);
			font-weight: 600;
			font-size: 14px;
			line-height: 1.2;
			color: #000;
			// @include textOverflow(2, 14, 1.2);

			@media (max-width: $mobileSmall) {
				font-size: toRem(13);
			}
			@media (max-width: $mobile) {
				// @include textOverflow(3, 14, 1.37);
				font-size: toRem(14);
			}
		}
	}

	&__item {
		&-wrap {
			padding: toRem(16) toRem(14) toRem(8);
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: toRem(8);
			align-self: flex-start;
			flex: 1 1 auto;
			border-radius: var(--radius8);

			@media (max-width: toEm(576)) {
				gap: toRem(7);
				padding: 0 toRem(6);
			}

			& .price {
				flex-wrap: wrap;
				@media (max-width: toRem(820)) {
					align-self: flex-start;
					flex-wrap: wrap;
					flex-direction: column;
					justify-content: flex-start;
					align-items: flex-start;
					gap: toRem(2);
				}
			}
		}
	}

	&__buttons {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: toRem(10);
		padding: 0 toRem(14);
		margin-bottom: toRem(15);
		& [data-popup] {
			background-color: var(--primary);
			color: var(--text-inverse);
			@media (any-hover: hover) {
				&:hover {
					background-color: var(--accent);
				}
			}
		}
		@media (max-width: toEm(1280)) {
			margin-bottom: toRem(5);
			gap: toRem(5);
		}
		@media (max-width: toEm(576)) {
			padding: 0 toRem(6);
		}
	}

	&__button {
		padding: toRem(13) toRem(15);
		font-weight: 700;
		font-size: toRem(16);
		display: flex;
		flex: 1 1 50%;
		@media (max-width: toEm(576)) {
			padding: toRem(13) toRem(0);
			font-size: toRem(14);
		}
	}
}
