.service {
	width: 100%;

	&__content {
		position: relative;
	}

	&__list {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: toRem(20);
		@media (max-width: $tablet) {
			gap: toRem(16);
		}
		@media (max-width: toEm(576)) {
			gap: toRem(14);
		}
	}

	&__card {
		width: calc((100% - toRem(20) * 3) / 4);
		height: 100%;
		border-radius: var(--radius8);
		border: 1px solid var(--border);
		overflow: hidden;
		position: relative;
		display: flex;
		flex-direction: column;
		gap: toRem(16);

		img {
			display: flex;
			width: 100%;
			transition: 0.3s;
			object-fit: cover;
		}

		&:hover {
			box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.15);
		}

		@media (max-width: toEm(1280)) {
			gap: 0;
		}
		@media (max-width: $tablet) {
			width: calc((100% - toRem(16) * 3) / 4);
		}
		@media (max-width: $mobile) {
			width: calc((100% - toRem(16) * 2) / 3);
		}
		@media (max-width: toEm(576)) {
			width: calc((100% - toRem(14) * 2) / 3);
		}
	}

	&__link {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 100%;
	}

	&__img {
		&-wrap {
			width: 100%;
			height: 55%;
			overflow: hidden;
			display: flex;
			@media (max-width: toEm(1280)) {
				height: 46%;
			}
		}
	}

	&__text {
		display: flex;
		flex-direction: column;
		gap: toRem(4);
		width: 100%;
		margin: 0;
		font-weight: 600;
		font-size: toRem(16);
		line-height: 1.2;
		overflow: hidden;
		@media (max-width: toRem(1440)) {
			font-size: toRem(14);
		}
		@media (max-width: toEm(1280)) {
			gap: toRem(5);
		}
		& h3 {
			height: toRem(40);
			overflow: hidden;
			@media (max-width: toEm(1280)) {
				height: toRem(45);
				font-weight: 600;
				font-size: toRem(16);
				line-height: 1.37;
			}
			@media (max-width: toEm(576)) {
				height: toRem(65);
			}
		}
	}

	&__item {
		&-wrap {
			padding: 0 toRem(14);
			overflow: hidden;
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			align-self: flex-start;
			border-radius: var(--radius8);

			@media (max-width: toRem(1300)) {
				padding: toRem(16) toRem(14) toRem(8);
				gap: toRem(8);
			}
			@media (max-width: toEm(1280)) {
				gap: toRem(20);
			}
			@media (max-width: toEm(576)) {
				gap: toRem(4);
			}

			& .text_card {
				max-height: toRem(100);
				overflow: hidden;
				text-overflow: ellipsis;
				@media (max-width: $tablet) {
					max-height: toRem(95);
				}
			}

			& .price {
				@media (max-width: toRem(598)) {
					align-self: center;
					flex-wrap: wrap;
					gap: toRem(2);
				}
			}
		}
	}

	&__buttons {
		position: relative;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(20);
		padding: 0 toRem(14);
		margin-bottom: toRem(20);
		@media (max-width: toEm(1280)) {
			margin-bottom: toRem(5);
		}
		@media (max-width: toEm(576)) {
			padding: 0 toRem(10);
		}
	}

	&__button {
		padding: toRem(13) toRem(15);
		font-weight: 700;
		font-size: toRem(16);
		display: flex;
		flex: 1 1 50%;
		@media (max-width: toEm(576)) {
			padding: toRem(13) toRem(0);
			font-size: toRem(14);
		}
	}
}
