.basket {
	&__wrapper {
		display: flex;
		width: 100%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: toRem(16);
		flex: 1 1 auto;
	}

	&-reset {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		&__title {
			font-weight: 400;
			font-size: toRem(14);
			color: #666;
		}
		&__button {
			height: toRem(20);
			display: flex;
			align-items: center;
			justify-content: center;
			gap: toRem(10);
			& svg {
				width: toRem(20);
				height: toRem(20);
			}
		}

		@media (any-hover: hover) {
			&:hover {
				& .basket-reset__button {
					& svg {
						color: var(--for-false);
					}
				}
			}
		}
	}

	& .main__inner {
		flex-direction: row-reverse;
		@media (max-width: toEm(1250)) {
			flex-direction: column-reverse;
		}
	}
}

.basket-list {
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: toRem(16);
		@media (max-width: $mobileSmall) {
			align-items: center;
		}
	}

	&__left {
		display: flex;
		@include adaptiveValue("gap", 34, 10);
		@media (max-width: $mobile) {
			flex-direction: column;
		}
	}
	&__right {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex: 0 1 toRem(320);
		@include adaptiveValue("gap", 16, 5);
		@media (max-width: $tablet) {
			margin-right: toRem(43);
			flex-direction: column-reverse;
		}
		@media (max-width: $mobileSmall) {
			margin-right: 0;
			margin-bottom: toRem(43);
			padding: 0 toRem(10);
			flex: none;
			gap: toRem(10);
			flex-direction: row;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}
}

.basket-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	border: 1px solid var(--border);
	border-radius: var(--radius8);
	overflow: hidden;
	@media (max-width: $tablet) {
		position: relative;
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
	@media (max-width: $mobileSmall) {
		gap: toRem(16);
		width: fit-content;
	}

	&__wrapper {
		display: flex;
	}

	&__bar {
		position: absolute;
		z-index: 2;
		top: toRem(16);
		left: toRem(16);
		display: flex;
	}

	&__img {
		display: flex;
		max-width: toRem(300);
		aspect-ratio: 400 / 258;
		position: relative;
		& img {
			width: 100%;
			object-fit: contain;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: toRem(10);
		max-width: toRem(300);
		padding: toRem(16) 0;

		& .price {
			white-space: nowrap;
			flex-wrap: wrap;
			&__old {
				display: none;
			}
		}
		@media (max-width: $mobile) {
			padding: toRem(16) 0 toRem(16) toRem(16);
		}
		@media (max-width: $mobileSmall) {
			padding: 0 toRem(10);
		}
	}

	&__title {
		font-weight: 600;
		font-size: toRem(14);
		line-height: 1.29;
		color: var(--text-primary);
		@include textOverflow(2, 14, 1.29);

		@media (any-hover: hover) {
			&:hover {
				color: var(--primary);
			}
		}
	}

	&__subtitle {
		display: inline-flex;
		gap: toRem(10);
		width: 100%;
		font-weight: 400;
		font-size: toRem(14);
		color: var(--text-primary);
		& span {
			font-weight: 500;
		}
	}

	&__count {
		display: flex;
		max-width: toRem(175);
		width: 100%;
		height: toRem(45);
		border: 1px solid var(--primary);
		border-radius: var(--radius8);
		@media (max-width: $tablet) {
			align-self: flex-end;
		}
		@media (max-width: $mobileSmall) {
			align-self: center;
		}
	}

	&__price {
		display: flex;
		flex-direction: column;
		gap: toRem(5);

		& .price {
			flex-direction: column;
			gap: 0;
			align-items: flex-end;
			white-space: nowrap;
			min-width: toRem(158);
			&__actual {
				font-weight: 700;
				font-size: toRem(20);
				line-height: 1.05;
			}
			&__old {
				display: none;
				font-weight: 500;
				font-size: toRem(13);
				line-height: 1.62;
			}
			@media (max-width: $mobileSmall) {
				gap: toRem(5);
			}
		}
		@media (max-width: $tablet) {
			align-self: flex-end;
		}
		@media (max-width: $mobileSmall) {
			align-self: center;
		}
	}

	&__remove {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(43);
		height: toRem(43);
		flex: 0 0 toRem(43);
		cursor: pointer;
		& svg {
			width: 50%;
			height: 50%;
			color: var(--text-secondary);
		}

		@media (any-hover: hover) {
			&:hover {
				& svg {
					color: var(--for-false);
				}
			}
		}
		@media (max-width: $tablet) {
			position: absolute;
			top: 0;
			right: 0;
		}
		@media (max-width: $mobileSmall) {
			top: auto;
			bottom: 0;
			right: 50%;
			transform: translateX(50%);
		}
	}

	&.sale {
		& .basket-item__price {
			& .economy {
				display: flex;
			}
		}
	}
}

.basket-menu {
	display: flex;
	align-items: flex-start;
	&__body {
		display: flex;
		flex-direction: column;
		gap: toRem(32);
		width: 100%;
		padding: toRem(35);
		border: 1px solid var(--border);
		border-radius: var(--radius8);
		@media (max-width: toEm(1250)) {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: repeat(2, 1fr);
		}
		@media (max-width: $mobile) {
			gap: toRem(16);
		}
		@media (max-width: $mobileSmall) {
			padding: toRem(20);
		}
	}
	&__item {
		width: 100%;
		display: flex;
	}
	@media (max-width: $tablet) {
		width: 100%;
	}
}

.economy {
	display: none;
	align-self: flex-end;
	width: fit-content;
	border: 1px solid var(--price-in-product);
	border-radius: 3px;
	padding: 1px 4px;
	font-weight: 500;
	font-size: toRem(12);
	line-height: 1.75;
	color: #666;
}

.total {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: toRem(5);

	&__item {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	&__title {
		text-transform: uppercase;
		font-weight: 600;
		font-size: toRem(18);
		color: var(--text-primary);
	}
	&__price {
		& .price {
			flex-direction: column;
			align-items: flex-end;
			&__actual {
				font-weight: 700;
				font-size: toRem(24);
				color: #464855;
			}
			&__old {
				font-weight: 400;
				font-size: toRem(14);
				color: #666;
			}
		}
	}

	&.score {
		& .total {
			&__item {
				justify-content: flex-start;
				align-items: center;
				&:first-child {
					& .price {
						&__old {
							display: none;
						}
					}
				}
				&:last-child {
					& .total__title {
						font-size: 16px;
						font-weight: 400;
						line-height: 19.5px;
						text-transform: none;
					}
					& .price {
						&__actual {
							display: none;
						}
					}
				}
			}
			&__title {
				flex: 0 1 toRem(95);
			}
		}
	}

	@media (max-width: toEm(1250)) {
		grid-column: span 4;
	}
	@media (max-width: $mobile) {
		grid-column: 1 / 7;
	}
}

.coupon {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: toRem(16);

	&__label {
		font-weight: 400;
		font-size: toRem(14);
		color: var(--text-primary);
	}

	&__wrapper {
		display: flex;
		width: 100%;
		max-height: toRem(48);
	}

	&__input {
		display: flex;
		width: 100%;
		padding: toRem(12);
		border: 1px solid #ddd;
		border-right: none;
		border-radius: 8px 0 0 8px;
		appearance: none;
		outline: none;
		&::placeholder {
			padding: 0 toRem(15);
			font-size: toRem(12);
		}
	}
	&__button {
		max-width: percent(80, 412);
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #46b4de;
		border-radius: 0 8px 8px 0;
		font-weight: 500;
		font-size: toRem(14);
		text-align: center;
		color: var(--primary);

		& svg {
			height: toRem(15);
			width: toRem(20);
			transform: rotate(180deg);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				color: var(--text-inverse);
			}
		}
	}
	@media (max-width: toEm(1250)) {
		grid-row: 2 / span 1;
		grid-column: span 4;
	}
	@media (max-width: $mobile) {
		grid-column: 1 / 7;
	}
}

.basket-buttons {
	display: flex;
	flex-direction: column;
	gap: toRem(16);
	&__button {
		padding: toRem(14) 0;
		width: 100%;
		&:first-child {
			flex: 1 1 50%;
			border-radius: var(--radius8);
			border: 1px solid var(--border);
			font-weight: 500;
			font-size: toRem(16);
			color: var(--primary);
			@media (any-hover: hover) {
				&:hover {
					background-color: var(--primary);
					color: var(--text-inverse);
				}
			}
		}
		&:last-child {
			flex: 1 1 50%;
			border-radius: var(--radius8);
			border: 1px solid var(--primary);
			font-weight: 500;
			font-size: toRem(16);
			color: var(--text-inverse);
			background-color: var(--primary);
			@media (any-hover: hover) {
				&:hover {
					background-color: var(--secondary);
				}
			}
		}
	}
	@media (max-width: toEm(1250)) {
		grid-column: 5 / span 2;
		grid-row: 1;
		align-items: center;
	}
	@media (max-width: $tablet) {
		flex-direction: column;
	}
	@media (max-width: $mobile) {
		grid-row: 3 / span 1;
		grid-column: 1 / 7;
		flex-direction: row;
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
	}
}

.basket-empty {
	display: flex;
	flex-direction: column;
	gap: toRem(20);

	&__title {
		font-weight: 400;
		font-size: toRem(16);
		line-height: 1.4;
		color: var(--text-primary);
	}

	& .button {
		width: toRem(135);
		cursor: pointer;
	}
}
