<div class="aside-menu">
	<div class="aside-menu__overlay"></div>
	<div class="aside-menu__content">
		<div class="aside-menu__buttons">
			<div class="aside-menu__text">Меню</div>
			<button class="aside-menu__close" type="button">
				<svg class="svg-arrow-close">
					<use xlink:href="img/icons/icons.svg#close"></use>
				</svg>
			</button>
		</div>
		<nav class="aside-menu__body">
			<ul class="aside-menu__list">
				<!-- 1 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">О компании</a>
					<div class="aside-menu__svg">
						<svg class="svg-arrow-down">
							<use xlink:href="img/icons/icons.svg#menuArrow"></use>
						</svg>
					</div>
					<div class="aside-menu__drop">
						<ul class="aside-menu__list">
							<button class="mobile-back" type="button">
								<svg class="svg-arrow-back">
									<use xlink:href="img/icons/icons.svg#arrow"></use>
								</svg>
								<span>Назад</span>
							</button>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Создание сайтов</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link"
									>Разработка интернет-магазинов</a
								>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link"
									>Создание корпоративных сайтов</a
								>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Создание Landing page</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">
									Разработка сайтов визиток - максимальное количество
								</a>
							</li>
						</ul>
					</div>
				</li>
				<!-- 2 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">Услуги</a>
					<div class="aside-menu__svg">
						<svg class="svg-arrow-down">
							<use xlink:href="img/icons/icons.svg#menuArrow"></use>
						</svg>
					</div>
					<div class="aside-menu__drop">
						<ul class="aside-menu__list">
							<button class="mobile-back" type="button">
								<svg class="svg-arrow-back">
									<use xlink:href="img/icons/icons.svg#arrow"></use>
								</svg>
								<span>Назад</span>
							</button>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Создание сайтов</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link"
									>Разработка интернет-магазинов</a
								>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link"
									>Создание корпоративных сайтов</a
								>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Создание Landing page</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">
									Разработка сайтов визиток - максимальное количество
								</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Реклама и продвижение</a>
								<div class="aside-menu__svg">
									<svg class="svg-arrow-down">
										<use xlink:href="img/icons/icons.svg#menuArrow"></use>
									</svg>
								</div>
								<div class="aside-menu__drop">
									<ul class="aside-menu__list">
										<button class="mobile-back" type="button">
											<svg class="svg-arrow-back">
												<use xlink:href="img/icons/icons.svg#arrow"></use>
											</svg>
											<span>Назад</span>
										</button>
										<li class="aside-menu__item">
											<a href="#" class="aside-menu__link">Реклама</a>
										</li>
										<li class="aside-menu__item">
											<a href="#" class="aside-menu__link">SEO</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<!-- 3 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">Каталог</a>
					<div class="aside-menu__svg">
						<svg class="svg-arrow-down">
							<use xlink:href="img/icons/icons.svg#menuArrow"></use>
						</svg>
					</div>
					<div class="aside-menu__drop">
						<ul class="aside-menu__list">
							<button class="mobile-back" type="button">
								<svg class="svg-arrow-back">
									<use xlink:href="img/icons/icons.svg#arrow"></use>
								</svg>
								<span>Назад</span>
							</button>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Создание сайтов</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link"
									>Разработка интернет-магазинов</a
								>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link"
									>Создание корпоративных сайтов</a
								>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Создание Landing page</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">
									Разработка сайтов визиток - максимальное количество
								</a>
							</li>
							<li class="aside-menu__item">
								<a href="#" class="aside-menu__link">Реклама и продвижение</a>
								<div class="aside-menu__svg">
									<svg class="svg-arrow-down">
										<use xlink:href="img/icons/icons.svg#menuArrow"></use>
									</svg>
								</div>
								<div class="aside-menu__drop">
									<ul class="aside-menu__list">
										<button class="mobile-back" type="button">
											<svg class="svg-arrow-back">
												<use xlink:href="img/icons/icons.svg#arrow"></use>
											</svg>
											<span>Назад</span>
										</button>
										<li class="aside-menu__item">
											<a href="#" class="aside-menu__link">Реклама</a>
										</li>
										<li class="aside-menu__item">
											<a href="#" class="aside-menu__link">SEO</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<!-- 4 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">Портфолио</a>
				</li>
				<!-- 5 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">Цены</a>
				</li>
				<!-- 6 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">Новости</a>
				</li>
				<!-- 7 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">Блог</a>
				</li>
				<!-- 8 -->
				<li class="aside-menu__item">
					<a href="#" class="aside-menu__link">Контакты</a>
				</li>
			</ul>
			<div class="contacts-phone">
				<div class="contacts-phone__wrapper">
					<div class="contacts-phone__svg">
						<svg class="svg-phone">
							<use xlink:href="img/icons/icons.svg#phone"></use>
						</svg>
					</div>
					<div class="contacts-phone__item">
						<a href="tel:+375292333301" class="contacts-phone__link">
							+375 (29) 233-33-01
						</a>
						<p class="phone-dropdown__text">отдел продаж</p>
					</div>
					<div class="contacts-phone__arrow">
						<svg class="svg-arrow-down">
							<use xlink:href="img/icons/icons.svg#menuArrow"></use>
						</svg>
					</div>
				</div>
				<!-- dropdown -->
				<div class="contacts-phone__dropdown phone-dropdown">
					<button class="mobile-back" type="button">
						<svg class="svg-arrow-back">
							<use xlink:href="img/icons/icons.svg#arrow"></use>
						</svg>
						<span>Назад</span>
					</button>
					<div class="phone-dropdown__list">
						<div class="phone-dropdown__item">
							<a href="tel:+375292333301" class="phone-dropdown__link">
								+375 (29) 233-33-01
							</a>
							<p class="phone-dropdown__text">отдел продаж</p>
						</div>
						<div class="phone-dropdown__item">
							<a href="tel:+375292333301" class="phone-dropdown__link">
								+375 (29) 233-33-01
							</a>
							<p class="phone-dropdown__text">
								отдел обслуживания текст не вмещается
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="contacts-email">
				<div class="contacts-email__svg">
					<svg class="svg-email">
						<use xlink:href="img/icons/icons.svg#email"></use>
					</svg>
				</div>
				<a href="mailto:crm@itoblaka.by" class="contacts-email__link">
					crm@itoblaka.by
				</a>
			</div>
			<div class="contacts-block__social">
				<!-- messengers -->
				@@include('../elements/_messengers.htm',{})
				<div class="divider"></div>
				<!-- social nets -->
				@@include('../elements/_social.htm',{})
			</div>
		</nav>
	</div>
</div>
