.share {
	// .share__list
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(20);
		flex-wrap: wrap;
		@media (max-width: $tablet) {
			gap: toRem(16);
		}
	}

	// .share__cell
	&__cell {
		position: relative;
		width: calc((100% - toRem(20)) / 2);
		min-height: 100%;
		border-radius: var(--radius8);
		overflow: hidden;

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 toRem(10) rgba(0, 0, 0, 0.5);
			}
		}
		@media (max-width: $tablet) {
			width: calc((100% - toRem(16)) / 2);
		}
	}

	// .share__item
	&__item {
		position: relative;
		height: 100%;
		width: 100%;
		z-index: 2;
		padding: toRem(25) toRem(30);
		display: flex;
		align-items: center;
		justify-content: space-between;

		overflow: hidden;
		border-radius: var(--radius8);
	}

	// .share__img
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		width: 100%;

		overflow: hidden;
		display: flex;
		& img {
			object-fit: cover;
			object-position: center;
		}
	}

	&__overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background: linear-gradient(
			272deg,
			rgba(51, 51, 51, 0.3) 0%,
			#333 66%,
			#333 100%
		);
	}

	// .share__content
	&__content {
		width: percent(600, 820);
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		@media (max-width: $tablet) {
			width: 100%;
		}
	}

	// .share__description
	&__description {
		display: flex;
		flex-direction: column;
		gap: toRem(6);
	}

	// .share__title
	&__title {
		font-weight: 500;
		font-size: toRem(18);
		line-height: 1.56;
		color: var(--text-inverse);
		overflow: hidden;
	}

	// .share__text
	&__text {
		font-weight: 400;
		font-size: toRem(16);
		line-height: 1.5;
		color: var(--text-inverse);
		overflow: hidden;
	}

	// .share__sale
	&__sale {
		display: flex;
		align-items: center;
		gap: toRem(10);
		width: fit-content;
		border: 1px solid #fff;
		border-radius: var(--radius8);
		padding: toRem(5);
	}

	// .share__prc
	&__prc {
		background-color: var(--primary);
		font-weight: 500;
		font-size: toRem(16);
		line-height: 1.75;
		color: var(--text-inverse);
		padding: 0 toRem(13);
		border-radius: toRem(4);
	}

	// .share__term
	&__term {
		font-weight: 400;
		font-size: toRem(14);
		line-height: 2;
		color: var(--text-inverse);
	}
}
