.like {
	&__container {
		padding-top: toRem(40);
		padding-bottom: toRem(40);
	}
	// .question__content
	&__content {
		display: flex;
		align-items: flex-start;
		gap: toRem(20);
		border: toRem(1) solid var(--primary);
		border-radius: toRem(16);
		padding: toRem(30) toRem(50);
		@media (max-width: toRem(576)) {
			padding: toRem(20);
		}
		@media (max-width: toEm(520)) {
			flex-direction: column;
		}
	}

	// .question__img
	&__img {
		min-width: toRem(200);
		max-width: toRem(200);
		min-height: toRem(200);
		max-height: toRem(200);
		display: flex;
		align-items: flex-end;
		justify-content: center;

		@media (max-width: toRem(576)) {
			align-self: center;
			min-width: toRem(144);
			max-width: toRem(144);
			min-height: toRem(144);
			max-height: toRem(144);
			& svg {
				width: 75%;
				height: 75%;
			}
		}
	}

	// .question__descriptions
	&__descriptions {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: toRem(20);
	}

	// .question__title
	&__title {
		font-weight: 600;
		font-size: toRem(30);
		@media (max-width: toRem(576)) {
			font-size: toRem(20);
		}
	}

	// .question__text
	&__text {
		font-weight: 400;
		font-size: toRem(16);
		line-height: 1.5;
		color: var(--text-secondary);
		@media (max-width: toRem(576)) {
			font-size: toRem(15);
		}
	}

	&:has(.question__container > .question__content > .form) {
		.question {
			&__container {
				padding-top: toRem(40);
				padding-bottom: toRem(40);
			}
			// .question__content
			&__content {
				display: grid;
				grid-template-areas:
					'img img . . . .'
					'img img title title title title'
					'img img text text text text'
					'. . form form form form';
				& .form {
					grid-area: form;
					width: 100%;
					align-items: flex-start;

					// .form__list
					&__list {
						width: 100%;
						max-width: none;
						flex-direction: row;
					}

					&__cell {
						flex: 1 1 50%;
						max-width: toRem(490);
					}

					// .form__button
					&__button {
						align-self: flex-start;
					}
				}

				@media (max-width: $mobile) {
					grid-template-areas:
						'img img . . . .'
						'img img title title title title'
						'img img text text text text'
						'form form form form form form';
				}
			}

			// .question__img
			&__img {
				grid-area: img;
			}

			// .question__title
			&__title {
				grid-area: title;
			}

			// .question__text
			&__text {
				grid-area: text;
			}
		}
		@media (max-width: toEm(450)) {
			.question {
				// .question__content
				&__content {
					display: grid;
					grid-template-areas:
						'img img '
						'title title'
						'text text'
						'form form';
					& .form {
						grid-area: form;
						width: 100%;
						align-items: flex-start;

						// .form__list
						&__list {
							flex-direction: column;
						}

						&__cell {
							flex: 1 1 50%;
							max-width: toRem(490);
						}

						// .form__button
						&__button {
							width: 100%;
							& .button {
								width: 100%;
							}
						}
					}
				}
				&__img {
					justify-self: center;
				}
			}
		}
	}
}
