.like {
	// .question__content
	&__content {
		display: flex;
		align-items: flex-start;
		gap: toRem(20);
		border: toRem(1) solid var(--primary);
		border-radius: toRem(16);
		padding: toRem(30) toRem(50);
		@media (max-width: toRem(576)) {
			padding: toRem(20);
		}
		@media (max-width: toEm(520)) {
			flex-direction: column;
		}
	}

	// .question__img
	&__img {
		min-width: toRem(200);
		max-width: toRem(200);
		min-height: toRem(200);
		max-height: toRem(200);
		display: flex;
		align-items: flex-end;
		justify-content: center;

		@media (max-width: toRem(576)) {
			align-self: center;
			min-width: toRem(144);
			max-width: toRem(144);
			min-height: toRem(144);
			max-height: toRem(144);
			& svg {
				width: 75%;
				height: 75%;
			}
		}
	}

	// .question__descriptions
	&__descriptions {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: toRem(20);
	}

	// .question__title
	&__title {
		font-weight: 600;
		font-size: toRem(30);
		@media (max-width: toRem(576)) {
			font-size: toRem(20);
		}
	}

	// .question__text
	&__text {
		font-weight: 400;
		font-size: toRem(16);
		line-height: 1.5;
		color: var(--text-secondary);
		@media (max-width: toRem(576)) {
			font-size: toRem(15);
		}
	}

	&__buttons {
		width: 100%;
		display: flex;
	}
}
