.card {
	display: flex;
	flex-direction: column;
	gap: toRem(30);
	&-variable {
		display: flex;
		flex-direction: column;
		gap: toRem(30);
		&__item {
			display: flex;
			flex-direction: column;
			gap: toRem(20);
		}
		&__title {
			font-weight: 500;
			font-size: toRem(16);
			line-height: 1.4;
			color: #666666;
			& span {
				font-weight: 400;
				font-size: toRem(15);
				color: var(--text-secondary);
			}
		}
		&__variable {
			display: flex;
			flex-wrap: wrap;
			gap: toRem(10);
		}
		&__button {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: toRem(5);
			border: 2px solid var(--border);
			border-radius: toRem(3);
			min-width: toRem(35);
			min-height: toRem(35);
			&.active {
				font-weight: 500;
				border: 2px solid var(--primary);
			}
		}
		@media (max-width: toEm(598)) {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}
}

.card-head {
	display: flex;
	width: 100%;
	// .card-head__content
	&__content {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 60, 20);
	}
}

.card-controls {
	// .card-controls__list
	&__list {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 40, 20);
	}

	// .card-controls__wrapper
	&__wrapper {
		display: flex;
		align-items: center;
		gap: toRem(10);
		color: var(--text-primary);
		cursor: pointer;
		@media (any-hover: hover) {
			&:hover {
				color: var(--primary);
			}
		}

		&.active {
			color: var(--primary);
		}
	}

	// .card-controls__text
	&__text {
		font-size: toRem(14);
		font-weight: 400;
		line-height: toRem(18);
		@media (max-width: $mobile) {
			display: none;
		}
	}
}

.card-text {
	display: flex;
	flex-direction: column;
	gap: toRem(10);
	& .text_subtitle {
		font-size: toRem(27);
		font-weight: 700;
		line-height: 1.22;

		display: -webkit-box;
		line-clamp: 2;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	& .text_general {
		display: -webkit-box;
		line-clamp: 3;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-top: toRem(10);
	}

	& a {
		display: flex;
		text-decoration: underline;
		color: var(--primary);
		width: fit-content;

		font-size: toRem(16);
		font-weight: 600;
		line-height: 1.4;

		text-decoration-line: underline;
		text-decoration-style: solid;
		@media (any-hover: hover) {
			&:hover {
				color: var(--secondary);
			}
		}
	}
}

.details-basic {
	&__characteristic {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: auto;
		grid-auto-flow: row;
		grid-column-gap: toRem(20);
		grid-row-gap: 0;
		@media (max-width: 1200px) {
			grid-row-gap: toRem(20);
		}
	}
}

.basic-characteristic {
	&__item {
		display: flex;
		flex-direction: column;
		gap: toRem(20);

		&:first-child {
			flex-direction: row;
			align-items: center;
			width: 100%;
			max-height: toRem(420);
			aspect-ratio: 540 / 420;
			height: 100%;
			overflow: hidden;
		}
		& .options-block {
			display: flex;
			flex-direction: column;
			gap: toRem(16);
			padding-bottom: toRem(15);
			border-bottom: 1px solid var(--border);
			@media (max-width: 1199px) {
				order: 2;
			}
			@media (max-width: 798px) {
				order: 0;
			}
		}

		& .options {
			&__list {
				padding: 0;
			}
		}
	}
}

.grid-slider {
	grid-area: 1 / 1 / 2 / 5;

	@media (max-width: 1199px) {
		grid-area: 1 / 1 / 2 / 7;
		justify-content: center;
	}
	@media (max-width: 798px) {
		grid-area: 1 / 1 / 2 / 13;
	}
	@media (max-width: 498px) {
		grid-area: 1 / 1 / 2 / 13;
	}
}
.grid-char {
	grid-area: 1 / 5 / 2 / 10;
	gap: toRem(30);
	@media (max-width: 1199px) {
		grid-area: 1 / 7 / 2 / 13;
	}
	@media (max-width: 798px) {
		grid-area: 2 / 1 / 3 / 7;
		flex-direction: column;
	}
	@media (max-width: 598px) {
		grid-area: 2 / 1 / 3 / 13;
	}

	@media (max-width: 498px) {
		grid-area: 2 / 1 / 3 / 13;
		width: 100%;
		flex-direction: column;
	}
}
.grid-basket {
	grid-area: 1 / 10 / 2 / 13;
	align-items: center;

	@media (max-width: 1199px) {
		grid-area: 2 / 1 / 3 / 13;
		flex-direction: row-reverse;
		align-items: flex-start;
	}

	@media (max-width: 798px) {
		grid-area: 2 / 7 / 3 / 13;
		flex-direction: column;
	}
	@media (max-width: 598px) {
		grid-area: 3 / 1 / 4 / 13;
	}
	@media (max-width: 498px) {
		grid-area: 3 / 1 / 4 / 13;
	}

	& .count {
		display: flex;
	}
	&.order {
		& .stock {
			&__circle {
				color: var(--product-order);
			}
		}

		& .buttons {
			&__click {
				display: none;
			}
		}
	}
	&.not {
		& .stock {
			&__circle {
				color: var(--text-secondary);
			}
		}

		& .buttons {
			&__click {
				display: none;
			}
		}
	}
}

.characteristic-block {
	display: flex;
	flex-direction: column;
	gap: toRem(10);
	flex: 1 1 auto;
	&__title {
		display: flex;
		flex: 0 1 toRem(200);
		margin: 0;
		font-weight: 600;
		font-size: toRem(14);
		line-height: 1.22;
		color: #a1a1a1;
		@media (max-width: 1440px) {
			font-size: toRem(14);
			flex: 0 1 toRem(160);
		}
	}

	&__item {
		display: flex;
		gap: toRem(5);
		overflow: hidden;
	}

	&__text {
		font-weight: 600;
		font-size: toRem(14);
		line-height: 1.22;
		color: var(--text-primary);
		@media (max-width: 1440px) {
			font-size: toRem(14);
		}
	}

	&__general-link {
		font-weight: 400;
		font-size: toRem(14);
		line-height: 140%;
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--primary);
	}

	&__link {
		text-decoration: underline;
		text-decoration-skip-ink: none;
	}
}

.basket-block {
	display: flex;
	flex-direction: column;
	gap: toRem(25);
	width: 100%;
	padding: 12.5%;
	border: 1px solid var(--border);
	border-radius: var(--radius8);
	overflow: hidden;

	@media (max-width: 498px) {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&__stock {
		display: flex;
		gap: toRem(15);
		& .stock {
			display: flex;
			align-items: center;
			gap: toRem(5);
			&__circle {
				width: toRem(8);
				height: toRem(8);
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--product-new);
				& svg {
					width: 100%;
					height: 100%;
				}
			}
			&__normal {
				display: flex;
			}
		}
	}

	& .price {
		align-self: flex-start;
		&__actual {
			font-size: toRem(30);
			font-weight: 700;
			line-height: 36.57px;
		}
		&__old {
			display: none;
			font-size: toRem(22);
			font-weight: 400;
			line-height: 26.82px;
			text-decoration-line: line-through;
		}
	}

	& .characteristic-block {
		&__title,
		&__text {
			font-size: toRem(14);
			font-weight: 400;
			line-height: 1.06;
			color: #929292;
			line-height: 17.07px;
		}
	}

	&__basket {
		display: flex;
		gap: toRem(15);
		@media (max-width: 798px) {
			flex-direction: column;
		}
		@media (max-width: 598px) {
			grid-area: 1 / 7 / 3 / 13;
		}
		@media (max-width: 498px) {
			width: 100%;
		}
	}

	&__category {
		display: flex;
		flex-direction: column;
		gap: toRem(5);
		@media (max-width: 598px) {
			grid-area: 4 / 7 / 6 / 13;
		}
	}
}

.conditions {
	&__link {
		font-weight: 400;
		font-size: toRem(14);
		text-decoration: underline;
		text-decoration-skip-ink: none;
		color: var(--text-secondary);
		@media (max-width: 360px) {
			font-size: toRem(12);
		}
	}
}

.category {
	display: flex;
	gap: toRem(15);
	width: 100%;
	padding: toRem(15) 12.5%;
	border: 1px solid var(--border);
	border-radius: var(--radius8);
	&__item {
		display: flex;
		align-items: center;
		gap: toRem(10);
		&:not(:has(.category__img-link)) {
			padding-left: toRem(50);
		}
	}

	&__img-link {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__text {
		display: flex;
		font-weight: 400;
		font-size: toRem(14);
		color: var(--text-primary);
	}

	&__link {
		font-weight: 600;
		text-decoration: underline;
		color: var(--primary);
		@media (max-width: 1440px) {
			font-size: toRem(14);
		}
	}
	@media (max-width: $mobileSmall) {
		padding: toRem(15) toRem(20);
	}
}

.slider-general {
	position: relative;
	flex: 0 1 toRem(400);
	height: 100%;
	display: flex;
	&__wrapper {
		height: 100%;
		display: flex;
	}

	&__slide {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		& > img {
			padding: 10px;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	&-next {
		display: flex;
		right: toRem(-30);
		background-color: transparent;
		& svg {
			transform: rotate(-90deg);
			color: var(--primary);
		}
		@media (max-width: $mobile) {
			right: toRem(-23);
		}
	}
	&-prev {
		display: flex;
		left: toRem(-30);
		background-color: transparent;
		& svg {
			transform: rotate(90deg);
			color: var(--primary);
		}
		@media (max-width: $mobile) {
			left: toRem(-23);
		}
	}

	&__pagination {
	}
}

.slider-thumb {
	$padding: toRem(10);
	flex: 0 0 toRem(120);
	height: calc(100% - 2 * #{$padding});
	display: flex;
	overflow: visible;

	@media (max-width: 598px) {
		display: none;
	}

	&__wrapper {
		flex-direction: row;
	}
	&__slide {
		display: flex;
		height: toRem(128);
		width: toRem(120);
		opacity: 0.6;
		border: 1px solid var(--border);
		border-radius: var(--radius8);
		overflow: hidden;
		cursor: pointer;
		& img {
			width: 100%;
			padding: 5px;
			object-fit: contain;
		}
	}
	& .swiper-slide-thumb-active {
		opacity: 1;
		border: 1px solid var(--primary);
		border-radius: var(--radius8);
	}

	&-prev,
	&-next {
		background-color: transparent;
		width: $padding;
		height: $padding;
		left: 50%;
		right: auto;
		transform: translate(-50%, 0);
		margin: 0;

		& svg {
			color: var(--primary);
			width: toRem(11);
			height: toRem(6);
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: transparent;
				& svg {
					color: var(--secondary);
				}
			}
		}
	}

	&-prev {
		top: -$padding;
		bottom: auto;
		& svg {
			transform: rotate(180deg);
		}
	}
	&-next {
		bottom: -$padding;
		top: auto;
		& svg {
			transform: rotate(0deg);
		}
	}
}

.in {
	& .count {
		display: none;
	}
	& .buttons-basket {
		&__normal {
			display: none;
		}

		&__order {
			display: none;
		}

		&__in {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__not {
			display: none;
		}
	}
	& .stock {
		&__in {
			color: var(--primary);
			display: flex;
		}
	}
	& .options {
		visibility: hidden;
	}
}

.sale {
	& .price {
		&__actual {
			color: var(--price-in-product);
		}
		&__old {
			display: flex;
		}
		&__result {
			display: flex;
		}
	}
	& .stock {
		&__normal {
			color: var(--primary);
			display: flex;
		}
	}
}

.order {
	& .count {
		display: none;
	}

	& .buttons-basket {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&__normal {
			display: none;
		}

		&__order {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__in {
			display: none;
		}

		&__not {
			display: none;
		}
	}

	& .price {
		display: flex;
		gap: toRem(12);
		&__actual {
			display: none;
		}

		&__old {
			display: none;
		}
		&__order {
			display: flex;
		}
	}
	& .stock {
		&__normal {
			display: none;
		}
		&__order {
			color: var(--product-order);
			display: flex;
		}
	}
}

.not {
	& .count {
		display: none;
	}

	& .buttons-basket {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&__normal {
			display: none;
		}

		&__order {
			display: none;
		}

		&__in {
			display: none;
		}

		&__not {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// & .options {
	// 	display: none;
	// }

	& .stock {
		&__normal {
			display: none;
		}
		&__not {
			display: flex;
		}
	}
}
