$gap: toRem(20);
.chapter-page {
	display: flex;
	flex-direction: column;
	gap: toRem(40);
	// .chapter-page__wrapper
	&__wrapper {
		display: flex;
	}
	// .chapter-page__container
	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: toRem(40);
	}
	// .chapter-page__main
	&__main {
		& .main__content {
			border: none;
			box-shadow: none;
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			border-radius: 0;

			&:has(.preview) {
				& .preview {
					&__container {
						display: none;
					}
					&__bg {
						border-radius: var(--radius8);
						&:after {
							content: none;
						}
					}
				}
			}
		}

		& .main__block {
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			margin-bottom: toRem(45);
			overflow: hidden;
		}

		& .main__item {
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			&:has(.map-address__body) {
				flex-direction: row;
				flex-wrap: wrap;
			}
			& > .map-address__body {
				width: calc(100% / 4);
				max-width: toRem(400);
				min-width: toRem(245);
				& .map-address_svg {
					align-self: flex-start;
				}

				@media (max-width: toEm(530)) {
					width: 100%;
					max-width: none;
					min-width: 0;
				}
			}
		}
	}

	& .employees {
		&__cell {
			width: calc((100% - $gap * 2) / 3);
		}
		&__item {
			&:hover {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
				& .employees__content {
					margin-top: 20px;
					height: auto;
					@media (max-width: toRem(1300)) {
						margin-top: 5px;
					}
				}

				& .employees__pos {
					@media (max-width: toRem(1300)) {
						margin-top: 0;
						margin-bottom: toRem(10);
					}
				}

				& .employees__bottom {
					height: auto;
				}
			}
		}
	}

	& .map__wrapper {
		& > .map-address {
			display: none;
		}
	}
	& .vacancies {
		&__container {
			padding: 0;
		}
	}
}
