$gap: toRem(20);
.chapter-page {
	display: flex;
	flex-direction: column;

	// .chapter-page__wrapper
	&__wrapper {
		display: flex;
		margin: toRem(30) 0 toRem(50) 0;
	}
	// .chapter-page__container
	&__container {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: toRem(40);
	}

	& .bread {
		padding: 0;
	}

	& .block {
		&__head {
			padding: 0;
			border-top: none;
			justify-content: flex-start;
		}
		&__title {
			position: relative;
			font-family: var(--font-family);
			font-weight: 700;
			font-size: 28px;
			color: var(--pant-445-c);
			text-transform: none;
			&:after {
				content: " ";
				position: absolute;
				width: 90px;
				height: 3px;
				background: var(--pant-420-s);
				left: 0;
				bottom: -20px;
			}
		}
	}
	// .chapter-page__main
	&__main {
		& .main__content {
			border: none;
			box-shadow: none;
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			border-radius: 0;
			overflow: visible;

			&:has(.preview) {
				& .preview {
					min-height: fit-content;
					&__container {
						display: none;
					}
					&__bg {
						position: relative;
						width: fit-content;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
		}

		& .main__block {
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			margin-bottom: toRem(30);
		}

		& .main__item {
			display: flex;
			flex-direction: column;
			gap: toRem(20);
			overflow: hidden;
			flex: 1 1 auto;
			&:has(.map-address__body) {
				flex-direction: row;
				flex-wrap: wrap;
				row-gap: toRem(20);
				column-gap: toRem(20);
			}
			& > .map-address__body {
				width: calc((100% - toRem(20) * 2) / 3);
				max-width: toRem(400);
				min-width: toRem(245);
				gap: toRem(24);
				& .map-address_svg {
					align-self: flex-start;
				}

				@media (max-width: toEm(530)) {
					width: 100%;
					max-width: none;
					min-width: 0;
				}
			}

			[class*="__container"] {
				padding: 0;
			}

			&:has(.tabs) {
				border: 1px solid var(--border);
				border-radius: var(--radius8);
				overflow: hidden;
				@media (max-width: $mobile) {
					padding: 0;
					border: none;
				}
				& .tabs {
					padding: toRem(30);
					@media (max-width: $mobile) {
						padding: 0;
					}
				}
			}

			&:has([class*="__list"]) {
				overflow: visible;
			}
		}
	}

	& .employees {
		&__cell {
			width: calc((100% - $gap * 2) / 3);
		}
	}

	& .map__wrapper {
		& > .map-address {
			display: none;
		}
	}

	& .vacancies {
		&__container {
			padding: 0;
		}
	}

	&:has(.main__menu) {
		.partners__img {
			width: calc((100% - $gap * 5) / 6);
		}
	}

	&:has(.calculate-menu) {
		& .calculate-menu {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			border-radius: var(--radius8);
			overflow: hidden;
			box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
			& .form {
				padding: toRem(20);
			}
		}
		& .preview {
			height: 100%;
		}
	}
}
