.detail-page {
	display: flex;
	flex-direction: column;

	&__container {
		position: relative;
		width: 100%;
	}

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
	}

	&__main {
		margin-top: toRem(40);
	}

	&__content {
		padding: toRem(30);
		border: 1px solid var(--border);
		border-radius: var(--radius8);
		overflow: hidden;
		@media (max-width: $mobile) {
			padding: 0;
			border: none;
		}

		@media (max-width: $mobile) {
			padding: 0;
		}
	}

	& .main__item {
		& [class*="__container"] {
			padding: 0;
		}
	}

	& .preview {
		min-height: toRem(720);
		border-radius: 0;

		@media (max-width: $mobile) {
			min-height: toRem(485);
		}
	}
}
