.photo {
	&__list {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: toRem(20);
		flex-wrap: wrap;

		@media (max-width: $tablet) {
			gap: toRem(16);
		}
	}

	&__cell {
		display: flex;
		justify-content: center;
		max-width: percent(400, $maxWidthContainer);
		max-height: toRem(265);
		min-height: 100%;
		overflow: hidden;
		border-radius: var(--radius8);

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			}
		}
		@media (max-width: toEm(1280)) {
			width: percent(300, $maxWidthContainer);
		}
	}

	&__img {
		display: flex;
		object-fit: cover;
		object-position: center;
		overflow: hidden;
		transition: 0.3s;
		border-radius: var(--radius8);
	}
	& .swiper-wrapper {
		align-items: center;
	}
}
