.photo {
	&__list {
		display: flex;
		align-items: center;
		gap: toRem(20);
		flex-wrap: wrap;

		@media (max-width: $tablet) {
			gap: toRem(16);
		}
		@media (max-width: toRem(576)) {
			gap: toRem(14);
		}
		@media (max-width: toEm(360)) {
			gap: toRem(10);
		}
	}

	&__cell {
		position: relative;
		display: inline-flex;
		max-width: percent(400, $maxWidthContainer);
		max-height: toRem(400);
		width: fit-content;
		// height: fit-content;
		overflow: hidden;
		border-radius: var(--radius8);
		appearance: none;
		// @include linerGradient();

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
			}
		}
		@media (max-width: toEm(1280)) {
			max-width: percent(300, $maxWidthContainer);
		}
		@media (max-width: toEm(520)) {
			width: calc((100% - toRem(14) * 2) / 3);
			max-width: none;
		}
	}

	&__img {
		// flex: 0 0 auto;
		// height: fit-content;
		// width: fit-content;
		object-fit: contain;
	}

	&-slider {
		& .swiper-wrapper {
			align-items: center;
		}
	}
}
