.certificate {
	// .certificate__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(20);
		@media (max-width: $mobile) {
			gap: toRem(10);
		}
	}

	// .certificate__link
	&__link {
		position: relative;
		width: calc((100% - toRem(20) * 3) / 4);
		aspect-ratio: 315 / 445;
		min-width: toRem(145);
		display: flex;
		border-radius: var(--radius8);
		border: 1px solid var(--border);
		overflow: hidden;
		appearance: none;
		@include linerGradient();

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
			}
		}
		@media (max-width: $mobile) {
			width: calc((100% - toRem(10) * 3) / 4);
		}
		@media (max-width: toEm(630)) {
			width: calc((100% - toRem(10) * 2) / 3);
		}
		@media (max-width: $mobileSmall) {
			width: calc((100% - toRem(10) * 1) / 2);
		}
		& > img {
			padding: toRem(10);
			display: flex;
			width: 100%;
			height: 100%;
		}
	}
}
