.banner {
	&__container {
		display: flex;
	}
	// если есть маленькие блоки
	&:has(.banner__second) {
		& .banner__container {
			gap: toRem(20);
		}
		& .banner__general {
			flex: 0 1 66.5%;
			& .banner__img {
				object-position: 55%;
			}
		}

		& .banner-second {
			flex: 0 1 percent(540, $maxWidthContainer);
			&__content {
				display: flex;
				flex-direction: column;
				gap: toRem(20);
				width: 100%;
			}

			&__item {
				position: relative;
				z-index: 2;
				display: flex;
				align-items: flex-end;
				height: 100%;
				width: 100%;
				border-radius: var(--radius8);
				overflow: hidden;
				@include imageOverlay();
			}

			&__img {
				position: absolute;
				display: flex;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: right;
				z-index: -2;
			}

			&__title {
				position: relative;
				z-index: 2;
				display: inline-flex;
				width: 100%;
				padding: 0 toRem(20) toRem(40) toRem(20);
				font-weight: 600;
				font-size: 16px;
				line-height: 150%;
				color: var(--text-inverse);
			}
		}

		.swiper-pagination-bullet {
			width: toRem(10);
			height: toRem(10);
		}

		@media (max-width: toEm(1280)) {
			& .banner__content {
				max-width: 80%;
				gap: toRem(20);
			}
			& .banner__slider {
				height: toRem(420);
			}
		}
		@media (max-width: $tablet) {
			.banner__pagination {
				display: none;
			}
		}
	}

	&__general {
		display: flex;
		flex: 1 1 70%;
		overflow: hidden;
	}
	&__second {
		display: flex;
	}
	&__slider {
		position: relative;
		width: 100%;
		height: toRem(552);
		border-radius: toRem(8);
	}
	&__slide {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: toRem(40);
		max-width: toRem(1700);
		@include imageOverlay();
	}
	&__pagination {
		position: absolute;
		right: toRem(123);
		bottom: toRem(55);
		z-index: 2;
	}
	&__content {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-width: percent(1460, $maxWidthContainer);
		gap: toRem(55);
		@media (max-width: toEm(1280)) {
			max-width: 82.951807%;
			gap: toRem(50);
		}
	}
	&__description {
		display: flex;
		flex-direction: column;
		gap: toRem(15);
	}
	&__img {
		position: absolute;
		display: flex;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: right;
		z-index: -2;
	}
	&__title {
		color: var(--text-inverse);
	}
	&__text {
		color: var(--text-inverse);
	}

	&__buttons {
		display: flex;
		gap: toRem(20);
		flex-wrap: wrap;
		& .button {
			align-self: flex-start;
		}
		& .button:first-child {
			max-width: toRem(221);
			padding: toRem(13) toRem(20);
		}
	}

	&_width {
		& .banner__container {
			max-width: none;
			padding: 0;
		}
		& .banner__slider {
			height: toRem(715);
			border-radius: 0;
		}
		& .banner__slide {
			max-width: none;
		}

		& .banner__content {
			height: 100%;
			justify-content: flex-end;
			padding-bottom: 7%;
			@media (max-width: toEm(1280)) {
				padding-bottom: 10.5%;
				max-width: 85.951807%;
			}
		}
	}
}
