.request {
	&__list {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: toRem(12);
	}

	&__link {
		display: flex;
		width: fit-content;

		border-radius: var(--radius8);
		cursor: pointer;
		box-shadow:
			0 4px 4px 0 rgba(0, 0, 0, 0.3),
			0 8px 12px 6px rgba(0, 0, 0, 0.15);
		background: #fff;

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--primary);
				box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
				& .request__text {
					color: var(--text-inverse);
				}
			}
		}

		&.active {
			background-color: var(--primary);
			box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.5);
			& .request__text {
				color: var(--text-inverse);
			}
		}
	}

	&__item {
		padding: 8px 10px;
		display: flex;
		align-items: center;
		gap: toRem(10);
	}

	&__img {
		width: 35px;
		height: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		& img {
			width: 100%;
			object-fit: contain;
		}
	}

	&__text {
		display: flex;
		align-items: center;
		font-family: $fontFamily2;
		font-weight: 300;
		font-size: 15px;
		line-height: 1.66667;
		text-align: center;
		color: #000;
		overflow: hidden;
	}
}

.request-button {
	// .reference__text
	&__text {
		font-weight: 400;
		font-size: 15px;
		line-height: 167%;
		text-align: center;
		color: var(--primary);
	}

	// .reference__link
	&__link {
		display: flex;
		align-items: center;
		gap: toRem(8);
		@media (any-hover: hover) {
			&:hover {
				& .reference__text {
					color: var(--primary);
				}
				& .reference__img {
					background-color: var(--primary);
				}
				& .reference__svg {
					color: var(--inverse);
				}
			}
		}
	}

	&__img {
		width: toRem(32);
		height: toRem(32);
		border-radius: 50%;
		border: 1px solid var(--primary);
		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	// .reference__svg
	&__svg {
		width: toRem(8);
		height: toRem(14);
		transform: rotate(-90deg);
		color: var(--primary);
	}

	@media (any-hover: hover) {
		&:hover {
			.request-button {
				&__img {
					background-color: var(--primary);
				}
				&__svg {
					color: var(--text-inverse);
				}
			}
		}
	}
}
