.reviews {
	&__list {
		display: flex;
		align-items: center;
		gap: toRem(20);
		flex-wrap: wrap;
	}

	&__cell {
		width: percent(820, $maxWidthContainer);
		aspect-ratio: 820 / 290;
		height: auto;
		overflow: hidden;
		border-radius: var(--radius8);

		@media (any-hover: hover) {
			&:hover {
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
			}
		}
	}

	&__item {
		width: 100%;
		height: 100%;
		padding: toRem(28) toRem(56);

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: toRem(20);
		background-color: var(--bg-primary);
		border: 1px solid var(--border);
		border-radius: var(--radius8);
		overflow: hidden;
		transition: 0.3s;
	}

	&__top {
		display: flex;
		align-items: center;
		gap: toRem(20);
	}

	&__img {
		width: toRem(100);
		height: toRem(100);
		border-radius: 100%;

		overflow: hidden;
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: 100%;
			display: flex;
			object-fit: cover;
		}
	}

	&__description {
		width: calc(100% - 100px);
		display: flex;
		flex-direction: column;
		gap: toRem(10);
	}

	&__name {
		font-weight: 500;
		font-size: toRem(20);
		color: var(--text-primary);
	}

	&__pos {
		font-weight: 400;
		font-size: toRem(14);
		color: var(--text-secondary);
	}
	&__wrap {
		display: flex;
		gap: toRem(6);
	}

	&__svg {
		max-width: toRem(20);
		max-height: toRem(20);
		width: 100%;
		display: flex;
		align-self: flex-start;
		justify-self: flex-start;
		color: var(--primary);

		& svg {
			width: 100%;
		}
	}

	&__text {
		display: flex;

		max-height: toRem(96);
		font-style: italic;
		font-weight: 400;
		font-size: toRem(16);
		color: var(--text-primary);
		overflow: hidden;
	}
}
