// For Bitrix Block
[id*="bx_incl_area"] {
	flex: 1 1 auto;
}
.grecaptcha-badge {
	visibility: hidden;
}

.wrapper {
	max-width: toRem(1920);
	margin: 0 auto;
	&:has(.header_absolute) {
		.banner_width {
			.banner__content {
				margin-top: toRem(110);
			}
		}
	}
}

.page {
	display: flex;
	flex-direction: column;
}

.main {
	&__container {
		display: flex;
		flex-direction: column;
		gap: toRem(50);
		margin-bottom: toRem(80);
	}
	// .main__inner
	&__inner {
		display: flex;
		@include adaptiveValue("gap", 20, 10);
	}

	// .main__menu
	&__menu {
		flex: 0 1 percent(400, $maxWidthContainer);
		@media (max-width: $tablet) {
			display: none;
		}

		&:has(.blog-menu),
		&:has(.basket-menu),
		&:has(.calculate-menu),
		&:has(.formalization-menu) {
			@media (max-width: $tablet) {
				display: flex;
			}
		}
	}

	// .main__content
	&__content {
		appearance: none;
		width: 100%;
		flex: 1 1 percent(1240, $maxWidthContainer);
		border: none;
		box-shadow: none;
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		border-radius: 0;
		overflow: hidden;
	}

	&:has(.blog-menu) {
		.main__inner {
			flex-direction: column;
		}
	}
	&:has(.calculate-menu) {
		& .main__inner {
			@media (max-width: $tablet) {
				flex-direction: column-reverse;
			}
		}
	}
}

// Svg
.icon-wrap {
	width: toRem(27);
	height: toRem(27);
	& svg {
		width: 100%;
		height: 100%;
	}
}



.svg-arrow-down {
	width: toRem(8);
	height: toRem(8);
}
.svg-arrow-back {
	width: toRem(25);
	height: toRem(27);
	color: var(--text-secondary);
	@media (any-hover: hover) {
		&:hover {
			color: var(--primary);
		}
	}
}
.svg-phone {
	width: toRem(18);
	height: toRem(18);
}
.svg-email {
	width: toRem(18);
	height: toRem(18);
}
.svg-dotted {
	width: 20px;
	height: 5px;
}

// For change svg color on color scheme
.svg-color_primary {
	fill: var(--primary);
}

.divider {
	display: flex;
	height: toRem(20);
	width: 1px;
	background-color: var(--inverse);
}

// Button
.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: toRem(13) toRem(20);
	min-height: toRem(46);
	border-radius: toRem(8);
	font-weight: 600;
	font-size: toRem(15);
	background-color: var(--text-inverse);
	border: 1px solid var(--primary);
	color: var(--primary);
	width: 100%;
	text-wrap: nowrap;

	&:hover {
		background-color: var(--primary);
		color: var(--text-inverse);
	}

	&_colored {
		background-color: var(--primary);
		color: var(--text-inverse);
		&:hover {
			background-color: var(--secondary);
		}
	}
	&_width {
		width: toRem(265);
		font-weight: 700;
		font-size: toRem(16);
	}
	&_width-colored {
		font-weight: 700;
		font-size: toRem(16);
		text-align: center;
		padding: toRem(14) toRem(38);
		background-color: var(--primary);
		color: var(--text-inverse);
		&:hover {
			background-color: var(--secondary);
		}
	}
	&_width-inverse {
		background-color: var(--text-inverse);
	}
	@media (max-width: $mobile) {
		font-size: toRem(15);
	}
	@media (max-width: toEm(576)) {
		font-size: toRem(12);
	}
}

// Back button
.mobile-back {
	display: none;
	align-items: center;
	align-self: flex-start;
	padding: toRem(14);
	gap: toRem(10);
	& .svg-arrow-back {
		width: 15px;
		height: 15px;
		transform: rotate(180deg);
	}
	& span {
		font-size: toRem(15);
		font-weight: 600;
	}
}

// Title
.title_h1 {
	font-weight: 700;
	font-size: toRem(38);
	line-height: 1.2;
	text-transform: uppercase;
	@media (max-width: toEm(1280)) {
		font-size: toRem(36);
	}
	@media (max-width: $tablet) {
		font-size: toRem(30);
	}
	@media (max-width: $mobile) {
		font-size: toRem(26);
	}
	@media (max-width: toEm(576)) {
		font-size: toRem(20);
	}
}

// Text
.text {
	&_banner {
		font-weight: 500;
		font-size: toRem(18);
		line-height: 1.33;

		@media (max-width: $mobile) {
			font-size: toRem(16);
		}
		@media (max-width: toEm(576)) {
			font-size: toRem(15);
		}
		& h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font: revert;
		}
	}
	&_subtitle {
		font-weight: 500;
		font-size: toRem(18);
		line-height: 1.56;
		color: var(--text-primary);
		& a {
			color: var(--primary);
		}
		ul,
		ol {
			padding: revert;
			margin: revert;
			li {
				padding: revert;
				margin: revert;
				list-style: revert;
				margin: 0 0 20px 0;
				&::marker {
					color: var(--primary);
				}
			}
		}

		& h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font: revert;
		}
	}
	&_general {
		font-weight: 400;
		font-size: toRem(16);
		line-height: 1.5;
		color: var(--text-primary);
		& a {
			color: var(--primary);
		}
		ul,
		ol {
			padding: revert;
			margin: revert;
			li {
				padding: revert;
				margin: revert;
				list-style: revert;
				margin: 0 0 20px 0;
				&::marker {
					color: var(--primary);
				}
			}
		}

		& h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font: revert;
		}
	}
	&_light {
		font-weight: 400;
		font-size: toRem(13);
		color: var(--text-secondary);
		& a {
			color: var(--primary);
		}
		ul,
		ol {
			padding: revert;
			margin: revert;
			li {
				padding: revert;
				margin: revert;
				list-style: revert;
				&::marker {
					color: var(--primary);
				}
			}
		}

		& h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font: revert;
		}

		@media (max-width: $mobile) {
			font-size: toRem(11);
		}
	}
}

[class*="__overlay"]:not(.aside-menu__overlay) {
	pointer-events: none;
}

[class*="_desktopView"] {
	display: flex;

	@media (max-width: toRem(991)) {
		display: none;
	}
}

[class*="_mobileView"] {
	display: none;

	@media (max-width: toRem(991)) {
		display: flex;
		border-radius: initial;
	}
}

.scroll-vertical {
	&::-webkit-scrollbar {
		display: block;
		width: 2px;
		height: 100%;
		background-color: var(--border);
	}
	&::-webkit-scrollbar-thumb {
		display: block;
		width: 2px;
		background-color: var(--primary);
	}
}

.hidden-img {
	display: none !important;
}

._form-error input {
	border: 1px solid var(--for-false);
}
