.footer {
	background: var(--bg-dark);

	&__content {
		display: flex;
		flex-direction: column;
		padding: toRem(30) 0 0 0;
		gap: toRem(30);
	}

	// .footer__top
	&__top {
		display: flex;
		width: 100%;
		justify-content: space-between;
		@media (max-width: toEm(550)) {
			flex-direction: column;
			gap: toRem(14);
		}
	}

	// .footer__bottom
	&__bottom {
		border-top: 1px solid #ddd;
	}

	&_white {
		background-color: var(--bg-primary);

		& .navigation {
			&__link {
				color: var(--text-primary);
			}
		}
		& .footer-left {
			&__description {
				color: var(--text-primary);
			}
		}
		& .footer-right {
			// .footer-right__title
			&__title {
				font-weight: 600;
				font-size: toRem(18);
				color: var(--text-primary);
			}
			& .address {
				&__svg {
					color: var(--text-primary);
				}

				// .address__city
				&__city {
					color: var(--text-primary);
				}

				// .address__street
				&__street {
					color: var(--text-primary);
				}
			}

			& .contacts-phone {
				// .contacts-phone__svg
				&__svg {
					color: var(--text-primary);
				}

				// .contacts-phone__link
				&__link {
					color: var(--text-primary);
				}

				// .contacts-phone__arrow
				&__arrow {
					color: var(--text-primary);
				}
			}

			& .messengers {
				// .messengers__item
				&__item {
					& .svg-item {
						color: var(--text-primary);
					}
				}
			}

			& .social {
				// .social__item
				&__item {
					& .svg-item {
						color: var(--text-primary);
					}
				}
			}
		}
		& .footer-bottom {
			&__copyright {
				color: var(--text-primary);
			}
		}
		& .payment {
			&__text {
				color: var(--text-primary);
			}
		}
		& .made {
			&__text {
				color: var(--text-primary);
			}
		}
	}
}
.footer-top {
	// .footer-top__left
	&__left {
		display: flex;
		flex-direction: column;
		gap: toRem(30);
		max-width: percent(965, 1700);
		width: 100%;
		@media (max-width: toEm(550)) {
			max-width: none;
		}
	}

	// .footer-top__right
	&__right {
		display: flex;
		flex-direction: column;
		gap: toRem(15);
		max-width: toRem(400);
		width: 100%;

		@media (max-width: $tablet) {
			max-width: 17rem;
		}
		@media (max-width: toEm(550)) {
			max-width: none;
		}
	}
}
.footer-left {
	// .footer-left__navigation
	&__navigation {
		display: flex;
	}

	// .footer-left__logo
	&__logo {
		display: flex;
		& .logo__logo {
			z-index: 0;
		}
	}

	// .footer-left__description
	&__description {
		font-weight: 500;
		font-size: toRem(14);
		color: var(--text-inverse);
	}
}
.navigation {
	// .navigation__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		gap: 2.27%;
		row-gap: toRem(17);
		padding: 0;
		margin: 0;
		@media (max-width: $tablet) {
			column-gap: toRem(20);
			row-gap: toRem(16);
		}
	}

	// .navigation__link
	&__link {
		font-weight: 600;
		font-size: toRem(18);
		color: var(--text-inverse);
		text-transform: uppercase;
		@media (any-hover: hover) {
			&:hover {
				color: var(--primary);
			}
		}
	}
}
.footer-right {
	// .footer-right__title
	&__title {
		font-weight: 600;
		font-size: toRem(18);
		color: var(--text-inverse);
	}
	& .address {
		display: flex;
		// .address__svg
		&__svg {
			color: var(--text-inverse);
		}

		// .address__city
		&__city {
			color: var(--text-inverse);
		}

		// .address__street
		&__street {
			color: var(--text-inverse);
		}
	}
	& .contacts-phone {
		width: fit-content;

		&__dropdown {
			bottom: 0;
			top: auto;
		}
		// .contacts-phone__svg
		&__svg {
			color: var(--text-inverse);
		}

		// .contacts-phone__link
		&__link {
			color: var(--text-inverse);
		}

		// .contacts-phone__arrow
		&__arrow {
			color: var(--text-inverse);
		}
	}

	& .contacts__block {
		gap: toRem(13);
	}

	& .messengers {
		// .messengers__item
		&__item {
			& .svg-item {
				@media (any-hover: hover) {
					&:hover {
						color: var(--primary);
					}
				}
			}
		}
	}

	& .social {
		// .social__item
		&__item {
			& .svg-item {
				@media (any-hover: hover) {
					&:hover {
						color: var(--primary);
					}
				}
			}
		}
	}
}
.footer-bottom {
	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: toRem(18) 0;
		@media (max-width: $tablet) {
			align-items: flex-start;
		}
		@media (max-width: toEm(576)) {
			flex-direction: column;
			width: 100%;
			justify-content: center;
			align-items: center;
			gap: toRem(14);
		}
	}
	// .footer-bottom__copyright
	&__copyright {
		display: flex;
		width: percent(400, 1700);
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 14px;
		color: #ddd;
		@media (max-width: $mobile) {
			width: 30%;
		}
		@media (max-width: toEm(576)) {
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}
	// .footer-bottom__payment
	&__payment {
		max-width: percent(830, 1700);
		width: 100%;
		@media (max-width: $tablet) {
			flex-direction: column;
			gap: toRem(5);
		}
		@media (max-width: $mobile) {
			max-width: 30%;
		}
	}
}
.payment {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: toRem(20);
	@media (max-width: toEm(576)) {
		width: 100%;
		max-width: none;
		gap: toRem(4);
	}
	// .payment__text
	&__text {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: toRem(14);
		letter-spacing: 0.05em;
		color: #ddd;
	}
	// .payment__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: toRem(5);
	}
	// .payment__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(44);
		height: toRem(30);
		& img {
			display: flex;
			height: 100%;
			width: 100%;
		}
	}
}
.made {
	display: flex;
	width: percent(410, 1700);
	align-items: center;
	gap: toRem(15);
	@media (max-width: toEm(1280)) {
		width: 37%;
	}
	@media (max-width: $tablet) {
		width: auto;
	}
	// .made__text
	&__text {
		font-family: var(--font-family);
		font-weight: 500;
		font-size: 14px;
		color: #ddd;
	}

	// .made__logo

	&__logo {
		max-width: toRem(120);
		width: 100%;
		& img {
			width: 100%;
		}
	}
}
