.header {
	display: flex;
	width: 100%;
	border-bottom: 1px solid var(--inverse);

	&__container {
		width: 100%;
	}

	&__content {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: toRem(13) 0;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		width: percent(270, 1700);
	}

	&__menu {
		display: flex;
		width: auto;
		width: percent(983, 1700);
	}
	&__contacts {
		width: percent(410, 1700);
		display: flex;
		justify-content: space-between;
		gap: toRem(18);
	}
}

.logo {
	&__logo {
	}

	&__slogan {
	}
}

.menu {
	&__list {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		gap: percent(40, 983);
	}
	&__item {
		display: flex;
		align-items: center;
		gap: toRem(6);
		text-transform: uppercase;
		font-weight: 600;
		font-size: toRem(14);
		padding: toRem(15) 0;
		cursor: pointer;
	}
	&__link {
	}
	&__dotted {
		align-self: flex-end;
		justify-content: flex-end;
		& .svg-dotted {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}
	&__svg {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
	&__dropdown {
		position: absolute;
	}
	&__dotted {
	}
}

.contacts {
	&__block {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: toRem(2);
	}
}

.contacts-block {
	&__phone {
		position: relative;
		display: flex;
	}
	&__social {
		display: flex;
		align-items: center;
		gap: toRem(14);
	}
}

.contacts-phone {
	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		gap: toRem(14);
	}

	&__svg {
	}

	&__link {
		font-weight: 700;
		font-size: toRem(16);
	}
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-self: flex-end;
	}
	&__dropdown {
		position: absolute;
	}
}

.block-social {
	&__messengers {
		display: flex;
	}
	&__divider {
	}
	&__social {
		display: flex;
	}
}

.messengers {
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(27);
		height: toRem(27);
		cursor: pointer;
	}
}

.social {
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(27);
		height: toRem(27);
		cursor: pointer;
	}
}
