.header {
	display: flex;
	width: 100%;

	&__container {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__top {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: toRem(10) 0;
		gap: toRem(60);

		&:has(.menu) {
			& .office {
				&__content {
					justify-content: flex-start;
				}
			}
		}

		@media (max-width: $pc) {
			gap: toRem(20);
		}
		@media (max-width: $tablet) {
			gap: toRem(15);
		}
	}

	&:has(.header-bottom) {
		margin-bottom: toRem(20);
		.header-top {
			border-bottom: none;
		}
		.header-bottom {
			padding: 0 toRem(50);
			border-radius: var(--radius8);
			background-color: var(--primary);
			& > .menu {
				max-width: none;
				& > .menu__body {
					& > .menu__list {
						& > .menu__item {
							&:first-child {
								& > .menu__drop {
									@media (max-width: $tablet) {
										left: toRem(-50);
									}
								}
							}
							& > .menu__link {
								color: var(--text-inverse);
							}
							& > .menu__svg {
								& .svg-arrow-down {
									color: var(--text-inverse);
								}
							}
							&[data-menu-group] {
								@media (any-hover: hover) and (min-width: $mobile) {
									&:hover {
										& > .menu__drop {
											left: auto;
											right: 0%;

											& > .menu__content {
												& > .menu__list {
													& > .menu__item {
														&::after {
															left: 100%;
															right: auto;
														}
														@media (any-hover: hover) and (min-width: $mobile) {
															&:hover {
																@media (max-width: toEm(1280)) {
																	& > .menu__drop {
																		right: 107%;
																		left: auto;
																	}
																	&::after {
																		right: 100%;
																		left: auto;
																	}
																}
															}
														}
													}
												}
											}
										}
										&::after {
											left: auto;
											right: 100%;
										}
									}
								}
							}

							@media (any-hover: hover) {
								&:hover {
									& > .menu__link {
										color: var(--accent);
									}
								}
							}
						}
					}

					@media (max-width: $mobile) {
						background-color: var(--bg-primary);
						& > .menu__list {
							& > .menu__item {
								& > .menu__link {
									color: var(--text-primary);
								}
								& > .menu__svg {
									& .svg-arrow-down {
										color: var(--text-primary);
									}
								}
							}
						}
					}
				}
			}
		}

		.office {
			flex: 1 1 38.5%;

			@media (max-width: toEm(1270)) {
				flex: 1 1 auto;
			}
			@media (max-width: toEm(1100)) {
				display: none;
			}
		}

		@media (max-width: $mobile) {
			.header__menu {
				width: toRem(50);
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: toRem(10);
			}

			.header__contacts {
				padding-right: toRem(65);
			}
			& .control {
				display: none;
			}
		}
	}

	&__bottom {
		display: flex;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__menu {
		display: flex;
		flex: 1 1 auto;

		@media (max-width: $mobile) {
			order: 3;
			width: toRem(50);
			flex: 0 0 toRem(50);
			height: toRem(50);
			align-items: center;
			justify-content: center;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(5);
		@media (max-width: toEm(1200)) {
			flex: 0 0 auto;
		}
		@media (max-width: $mobile) {
			flex: 1 1 auto;
			justify-content: flex-end;
		}
		& .button {
			@media (max-width: toEm(898)) {
				display: none;
			}
		}

		@media (max-width: toEm(498)) {
			& .contacts__block {
				flex-direction: row;
				gap: toRem(0);
			}
			& .contacts-phone {
				order: 2;
				&__svg {
					background-color: var(--text-inverse);
					position: relative;
					z-index: 1;
					pointer-events: none;
					& svg {
						width: toRem(17);
						height: toRem(17);
					}
				}
				&__link {
					width: toRem(27);
					height: toRem(27);
					overflow: hidden;
					position: absolute;
					top: 0;
					left: 0;
				}
				&__arrow {
					display: none;
				}
			}
			& .contacts-block__social {
				& .social,
				.divider {
					display: none;
				}
			}
		}
	}

	&.drop {
		& .logo {
			&__logo {
				z-index: 4;
			}
		}
	}

	&_menu-left {
		& .header__top {
			position: relative;
		}

		& .menu {
			// flex: 0 1 11%;
			max-width: toRem(182);
			align-self: center;
			border-radius: var(--radius8);
			overflow: hidden;

			& > .icon-menu {
				display: flex;
				justify-content: center;
				color: var(--text-inverse);
				position: relative;
				z-index: 5;
				max-width: toRem(182);
				width: 100%;
				justify-self: flex-start;
				border: 1px solid var(--primary);
				border-radius: var(--radius8);
				padding: toRem(14) toRem(30) toRem(15) toRem(95);
				background-color: var(--primary);
				font-weight: 600;
				font-size: toRem(15);

				@media (any-hover: none) {
					cursor: default;
				}

				span,
				&::before,
				&::after {
					content: "";
					transition: all 0.3s ease 0s;
					left: 23%;
					position: absolute;
					width: toRem(25);
					height: toRem(2);
					background-color: var(--text-inverse);
				}
				&::before {
					top: 29%;
				}
				&::after {
					bottom: 30%;
				}
				span {
					top: calc(50% - toRem(1));
					width: toRem(18);
				}

				.menu-open & {
					span {
						width: 0;
					}
					&::before {
						top: calc(50% - toRem(1));
						transform: rotate(-45deg);
					}
					&::after {
						bottom: calc(50% - toRem(1));
						transform: rotate(45deg);
					}
				}
			}

			@media (any-hover: hover) {
				&:hover {
					& > .icon-menu {
						background-color: var(--accent);
					}
				}
			}

			@media (max-width: toEm(640)) {
				& > .icon-menu {
					background-color: transparent;
					border: none;
					min-width: 0;
					padding: toRem(13) toRem(10);
					visibility: hidden;
					span,
					&::before,
					&::after {
						background-color: var(--text-accent);
						visibility: visible;
						right: toRem(10);
						left: auto;
					}
				}
			}
		}

		@media (max-width: toEm(1380)) {
			.header {
				&__top {
					& .office {
						display: none;
					}
					& .menu {
						flex: 0 2 38.5%;
					}
				}
			}
		}

		@media (max-width: $mobile) {
			.menu {
				order: 0;
				height: toRem(50);
				& .icon-menu {
					height: 100%;
				}
			}
		}

		@media (max-width: toEm(640)) {
			.header {
				&__top {
					& .menu {
						flex: 0 0 toRem(50);
						order: 3;
						overflow: hidden;
					}
				}
			}
		}
	}

	&_absolute {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		& .header__top {
			border-bottom: none;
			& .address__svg,
			.address__city,
			.address__street,
			.mode__svg,
			.mode__regime,
			.mode__time {
				color: var(--text-inverse);
			}

			& .header__contacts .contacts-phone__svg {
				background-color: transparent;
			}

			& .contacts-phone__link,
			.contacts-phone__arrow,
			.contacts-phone__svg {
				color: var(--text-inverse);
			}

			& .menu {
				& .menu__body {
					& > .menu__list {
						& > .menu__item {
							& > .menu__link {
								color: var(--text-inverse);
							}
							& > .menu__svg {
								& > .svg-arrow-down {
									color: var(--text-inverse);
								}
							}

							@media (any-hover: hover) {
								&:hover {
									& > .menu__link {
										color: var(--primary);
									}
									& > .menu__svg {
										& > .svg-arrow-down {
											color: var(--primary);
										}
									}
								}
							}
						}
					}
				}
			}
			& .icon-menu span,
			.icon-menu::before,
			.icon-menu::after {
				background-color: var(--text-inverse);
			}
			@media (max-width: toEm(498)) {
				& .contacts-phone__link {
					opacity: 0;
				}
			}
		}

		&:has(.header-bottom) {
			& .header__top {
				& .address__svg,
				.address__city,
				.address__street,
				.mode__svg,
				.mode__regime,
				.mode__time {
					color: var(--text-inverse);
				}

				& .header__contacts .contacts-phone__svg {
					background-color: transparent;
				}

				& .contacts-phone__link,
				.contacts-phone__arrow,
				.contacts-phone__svg {
					color: var(--text-inverse);
				}
				@media (max-width: toEm(498)) {
					& .contacts-phone__link {
						opacity: 0;
					}
				}
			}
			& .header-bottom {
				& .menu {
					& .menu__body {
						& > .menu__list {
							& > .menu__item {
								& > .menu__link {
									color: var(--text-inverse);
								}
								& > .menu__svg {
									& > .svg-arrow-down {
										color: var(--text-inverse);
									}
								}
							}
						}
					}
				}
				& .icon-menu span,
				.icon-menu::before,
				.icon-menu::after {
					background-color: var(--text-inverse);
				}
			}
		}
	}

	&_fixed {
		width: 100vw;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 15;
		background-color: var(--bg-primary);
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);

		& .header__top {
			border-bottom: none !important;
			& .address__svg,
			.address__city,
			.address__street,
			.mode__svg,
			.mode__regime,
			.mode__time {
				color: var(--text-primary);
			}

			// & .header__contacts .contacts-phone__svg {
			// 	background-color: transparent;
			// }

			& .contacts-phone__link,
			.contacts-phone__arrow,
			.contacts-phone__svg {
				color: var(--text-primary);
			}
			@media (max-width: $mobileSmall) {
				.contacts-phone__link {
					opacity: 0;
				}
			}

			& .menu {
				& .menu__body {
					& > .menu__list {
						& > .menu__item {
							& > .menu__link {
								color: var(--text-primary);
							}
							& > .menu__svg {
								& > .svg-arrow-down {
									color: var(--text-primary);
								}
							}

							@media (any-hover: hover) {
								&:hover {
									& > .menu__link {
										color: var(--primary);
									}
									& > .menu__svg {
										& > .svg-arrow-down {
											color: var(--primary);
										}
									}
								}
							}
						}
					}
				}
			}

			& .icon-menu span,
			.icon-menu::before,
			.icon-menu::after {
				background-color: var(--text-primary);
				@media (max-width: toEm(640)) {
					visibility: visible;
					background-color: var(--text-primary);
				}
			}
		}

		&.header_menu-left {
			& .icon-menu span,
			.icon-menu::before,
			.icon-menu::after {
				background-color: var(--text-inverse);
			}

			@media (max-width: toEm(640)) {
				& .icon-menu span,
				.icon-menu::before,
				.icon-menu::after {
					background-color: var(--text-primary);
				}
			}
		}

		&:has(.header-bottom) {
			& .header__top {
				& .address__svg,
				.address__city,
				.address__street,
				.mode__svg,
				.mode__regime,
				.mode__time {
					color: var(--text-primary);
				}

				& .header__contacts .contacts-phone__svg {
					background-color: transparent;
				}

				& .contacts-phone__link,
				.contacts-phone__arrow,
				.contacts-phone__svg {
					color: var(--text-primary);
				}
			}

			& .header-bottom {
				background-color: var(--bg-primary);
				& .menu {
					& .menu__body {
						& > .menu__list {
							& > .menu__item {
								& > .menu__link {
									color: var(--text-primary);
								}
								& > .menu__svg {
									& > .svg-arrow-down {
										color: var(--text-primary);
									}
								}
							}
						}
					}
				}

				& .control {
					&-button {
						&__button {
							color: var(--text-primary);
							border-color: var(--text-primary);
						}
					}
					&__button {
						color: var(--text-primary);
					}
				}

				& .dropdown {
					&-head {
						border-color: var(--text-primary);
						&__link {
							color: var(--text-primary);
						}
						&__trigger {
							color: var(--text-primary);
						}
					}
				}
				@media (max-width: $mobile) {
					& .icon-menu span,
					.icon-menu::before,
					.icon-menu::after {
						background-color: var(--text-primary);
					}
				}
			}
			@media (max-width: $mobile) {
				& .control {
					display: none;
				}
			}
		}
	}

	@media (max-width: $mobile) {
		margin-bottom: 0;
		box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
	}
}
