.header {
	display: flex;
	width: 100%;

	&__container {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__top {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: toRem(14) 0;
		gap: 1%;

		&:has(.menu) {
			padding: 0;

			& .office {
				&__content {
					justify-content: flex-start;
				}
			}
		}
	}

	&:not(:has(.header-bottom)) {
		.header__top {
			border-bottom: 1px solid var(--inverse);
		}
	}

	&:has(.header-bottom) {
		.office {
			flex: 0 1 38.5%;
			&__content {
				justify-content: flex-start;
			}

			@media (max-width: toEm(1270)) {
				flex: 1 1 auto;
			}
			@media (max-width: toEm(1100)) {
				display: none;
			}
		}

		@media (max-width: $mobile) {
			.header__menu {
				width: fit-content;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: toRem(10);
			}

			.header__contacts {
				padding-right: toRem(30);
			}
		}
	}

	&__bottom {
		display: flex;
	}

	&__logo {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	&__menu {
		display: flex;
		flex: 1 1 auto;

		@media (max-width: $mobile) {
			order: 3;
			width: fit-content;
			flex: 0 0 auto;
		}
	}

	&__contacts {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: toRem(5);
		@media (max-width: toEm(1200)) {
			flex: 0 0 auto;
		}
		@media (max-width: $mobile) {
			flex: 1 1 auto;
			justify-content: flex-end;
		}
		& .button {
			@media (max-width: toEm(898)) {
				display: none;
			}
		}
	}

	&.drop {
		& .logo {
			&__logo {
				z-index: 4;
			}
		}
	}

	&_absolute {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 5;
		& .header__bottom {
			& .menu {
				width: 100%;
				& > .menu__body {
					padding: 0 toRem(50);
					border-radius: var(--radius8);
					background-color: var(--text-inverse);
					& > .menu__list {
						& > .menu__item {
							& > .menu__link {
								color: var(--text-accent);
							}
							& > .menu__svg {
								& .svg-arrow-down {
									color: var(--text-accent);
								}
							}

							@media (any-hover: hover) and (min-width: $mobile) {
								&:hover {
									& > .menu__link,
									& > .menu__svg .svg-arrow-down,
									& > .svg-dotted {
										color: var(--primary);
									}
								}
							}
						}
					}
				}
			}
		}
		& .address__svg,
		.address__city,
		.address__street,
		.mode__svg,
		.mode__regime,
		.mode__time {
			color: var(--text-inverse);
		}
		& .contacts-phone__link,
		.contacts-phone__arrow,
		.contacts-phone__svg {
			color: var(--text-inverse);
		}
	}

	&_menu-left {
		position: relative;
		& .header__top {
			gap: toRem(15);
			padding: toRem(13) 0;
		}
		& .menu {
			flex: 0 1 11.2%;
			& > .icon-menu {
				display: flex;
				color: var(--text-accent);
				position: relative;
				z-index: 5;
				min-width: toRem(182);
				justify-self: flex-start;
				border: 1px solid var(--primary);
				border-radius: var(--radius8);
				padding: toRem(13) toRem(30) toRem(13) toRem(50);
				background-color: var(--primary);

				@media (any-hover: none) {
					cursor: default;
				}
				span,
				&::before,
				&::after {
					content: '';
					transition: all 0.3s ease 0s;
					left: 23%;
					position: absolute;
					width: 25px;
					height: toRem(2);
					background-color: var(--text-inverse);
				}
				&::before {
					top: 30%;
				}
				&::after {
					bottom: 30%;
				}
				span {
					top: calc(50% - toRem(1));
					width: 18px;
				}
				p {
					padding-left: toRem(35);
					align-self: center;
					color: var(--text-inverse);
					font-weight: 600;
					font-size: toRem(15);
				}

				.menu-open & {
					span {
						width: 0;
					}
					&::before {
						top: calc(50% - toRem(1));
						transform: rotate(-45deg);
					}
					&::after {
						bottom: calc(50% - toRem(1));
						transform: rotate(45deg);
					}
				}
			}

			& > .menu__body {
				position: absolute;
				top: 0;
				left: -100%;
				z-index: 4;
				width: 30vw;
				height: 100svh;
				flex-direction: column;
				padding: 0 toRem(50);
				border-radius: var(--radius8);
				background-color: var(--bg-primary);
				transition: left 0.3s ease 0s;
				& > .menu__list {
					display: flex;
					flex-direction: column;

					& > .mobile-view {
						display: flex;
					}
				}
				.menu-open & {
					left: 0;
				}
			}
		}

		@media (max-width: toEm(1380)) {
			.header {
				&__top {
					& .office {
						display: none;
					}
					& .menu {
						flex: 0 2 38.5%;
					}
				}
			}
		}

		@media (max-width: $mobile) {
			.menu {
				order: 0;
				height: toRem(50);
				& .icon-menu {
					height: 100%;
				}
			}
		}
	}
}

.header-bottom {
	& .menu {
		max-width: none;
		width: 100%;
		& > .menu__body {
			padding: 0 toRem(50);
			border-radius: var(--radius8);
			background-color: var(--primary);
			& > .menu__list {
				& > .menu__item {
					& > .menu__link {
						color: var(--text-inverse);
					}
					& > .menu__svg {
						& .svg-arrow-down {
							color: var(--inverse);
						}
					}
					& .menu__dotted-svg {
						color: var(--inverse);
					}
				}
			}
			@media (max-width: $mobile) {
				background-color: var(--bg-primary);
				& > .menu__list {
					& > .menu__item {
						& > .menu__link {
							color: var(--text-primary);
						}
						& > .menu__svg {
							& .svg-arrow-down {
								color: var(--text-primary);
							}
						}
						& .menu__dotted-svg {
							color: var(--text-primary);
						}
					}
				}
			}
		}
	}
}

.logo {
	max-width: toRem(192);
	width: 100%;
	&__logo {
		width: 100%;
		@media (max-width: $mobile) {
			position: relative;
			z-index: 5;
		}
	}
}

.menu {
	&__body {
		width: 100%;
		display: flex;
	}

	&__list {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		gap: 4.04%;
	}

	// первая вложенность
	&__item {
		position: relative;
		display: flex;
		align-items: center;
		gap: toRem(6);
		text-transform: uppercase;
		font-weight: 600;
		font-size: toRem(14);
		padding: toRem(30.5) 0;

		@media (any-hover: hover) and (min-width: $mobile) {
			&:hover {
				& > .menu__link,
				& > .menu__svg .svg-arrow-down,
				& > .svg-dotted {
					color: var(--primary);
				}
				& > .menu__svg .svg-arrow-down {
					transform: rotate(180deg);
				}
				& .menu__list {
					display: flex;
				}

				& > .menu__drop {
					display: flex;
					position: absolute;
					background-color: var(--bg-primary);
					top: 75px;
					// margin-top: toRem(10);
					left: 0;
					z-index: 6;
					border-radius: toRem(8);
					box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
				}
				& {
					&::after {
						content: ' ';
						position: absolute;
						top: 0;
						left: 100%;
						width: 35px;
						height: 100%;
						z-index: 5;
					}
				}
				&.menu__dotted {
					&::after {
						content: ' ';
						position: absolute;
						top: 0;
						right: -350%;
						width: 350%;
						max-width: none;
						height: 100%;
						z-index: 5;
					}
				}
			}
		}

		&.drop {
			& > .menu__drop {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 4;
				display: flex;
				width: 100%;
				height: 100%;
				background-color: var(--bg-primary);

				& > .menu__list {
					display: flex;
					max-width: none;
					overflow: auto;
					& > .mobile-back {
						display: flex;
					}
				}
			}
		}

		// вторая вложенность
		& .menu__list {
			width: 100vw;
			max-width: 435px;
			display: none;
			flex-direction: column;
			padding: toRem(12) 0;
			border-radius: toRem(8);
			font-size: toRem(14);
			font-weight: 500;
			line-height: 17.07px;
		}

		& .menu__item {
			position: relative;
			text-overflow: ellipsis;
			display: flex;
			justify-content: space-between;
			padding: toRem(4) toRem(24);
			text-transform: capitalize;

			// третья вложенность

			& .menu__list {
				width: 100vw;
				max-width: 220px;
				display: none;
				flex-direction: column;
				padding: toRem(12) 0;
				border-radius: toRem(8);
				font-size: toRem(14);
				font-weight: 500;
				line-height: 17.07px;
			}
			@media (any-hover: hover) and (min-width: $mobile) {
				&:hover {
					& .menu__list {
						display: flex;
					}
					& > .menu__drop {
						display: flex;
						position: absolute;
						top: 0;
						left: 410px;
						background-color: var(--bg-primary);
						z-index: 5;
						border-radius: toRem(8);
						box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
						margin-left: toRem(25);
					}
					& .menu__svg {
						display: flex;
						align-items: flex-end;
						justify-content: center;
						.svg-arrow-down {
							transform: rotate(90deg);
						}
					}
					& {
						&::after {
							content: none;
						}
					}
				}
			}

			& .menu__item {
				position: relative;
				text-overflow: ellipsis;
				display: flex;
				justify-content: space-between;
				padding: toRem(4) toRem(24);

				// четвертая вложенность
				& .menu__list {
					width: 100vw;
					max-width: 220px;
					display: none;
					flex-direction: column;
					padding: toRem(12) 0;
					border-radius: toRem(8);
					font-size: toRem(14);
					font-weight: 500;
					line-height: 17.07px;
				}
				@media (any-hover: hover) and (min-width: $mobile) {
					&:hover {
						& .menu__list {
							display: flex;
						}
						& > .menu__drop {
							display: flex;
							position: absolute;
							top: 0;
							left: 195px;
							background-color: var(--bg-primary);
							z-index: 5;
							border-radius: toRem(8);
							box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
							margin-left: toRem(25);
						}
						& .menu__svg {
							display: flex;
							align-items: flex-end;
							justify-content: center;
							.svg-arrow-down {
								transform: rotate(90deg);
							}
						}
					}
				}

				& .menu__item {
					position: relative;
					text-overflow: ellipsis;
					display: flex;
					justify-content: space-between;
					padding: toRem(4) toRem(24);
				}

				& .menu__svg {
					display: flex;
					align-items: flex-end;
					justify-content: center;
					& .svg-arrow-down {
						transform: rotate(-90deg);
						transition: all 0.3s ease;
					}
				}
			}

			& > .menu__link {
				font-weight: 500;
				font-size: toRem(14);
			}

			& .menu__svg {
				display: flex;
				align-items: flex-end;
				justify-content: center;
				& .svg-arrow-down {
					transform: rotate(-90deg);
					transition: all 0.3s ease;
				}
			}

			& .drop {
				& > .menu__drop {
					position: fixed;
					top: 0;
					left: 0;
					z-index: 4;
					display: flex;
					width: 100%;
					height: 100%;
					background-color: var(--bg-primary);

					& > .menu__list {
						display: flex;
						overflow: auto;
						& > .mobile-back {
							display: flex;
						}
					}
				}
			}
		}

		& > .menu__link {
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-weight: 600;
			font-size: toRem(14);
			color: var(--text-accent);
		}
	}

	&__dotted {
		align-self: flex-end;
		justify-content: flex-end;
		& .dotted-svg {
			display: flex;
			align-items: flex-end;
			justify-content: flex-end;
		}
	}

	&__svg {
		display: flex;
		align-items: center;
		justify-content: center;
		& .svg-arrow-down {
			transition: all 0.3s ease;
		}
		@media (max-width: $mobile) {
			cursor: pointer;
		}
	}
	&__drop {
		display: none;
	}
}

.office {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;

	&__content {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		gap: percent(70, 1700);
	}

	&__item {
		& svg {
			width: 100%;
			height: 100%;
		}
	}
}

.contacts {
	&__block {
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: toRem(2);
	}
}

.contacts-block {
	&__phone {
		position: relative;
		display: flex;
	}
	&__social {
		display: flex;
		align-items: center;
		gap: toRem(14);
	}
}

.contacts-phone {
	position: relative;
	@media (any-hover: hover) and (min-width: $mobile) {
		&:hover {
			.phone-dropdown {
				display: flex;
			}
		}
	}

	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
	}

	&__svg {
		width: toRem(27);
		height: toRem(27);
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__link {
		font-weight: 700;
		font-size: toRem(16);
		text-wrap: nowrap;
	}
	&__arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: toRem(27);
		height: toRem(27);
		@media (max-width: $mobile) {
			cursor: pointer;
		}
	}
	&__dropdown {
		position: absolute;
		top: -12px;
		left: -5px;
		z-index: 5;
		background-color: var(--bg-primary);
		width: 100vw;
		max-width: 220px;
		display: none;
		border-radius: 8px;
		box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.4);
	}

	&.drop {
		& .phone-dropdown {
			display: flex;
			align-self: flex-start;
			flex-direction: column;
			height: 100vh;
			width: 100vw;
			max-width: none;
			position: fixed;
			left: 0;
			top: 0;
			z-index: 7;
			background-color: #fff;
			border-radius: 0;
		}
		& .mobile-back {
			display: flex;
			padding-top: toRem(24);
		}
	}
}

.phone-dropdown {
	&__list {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: toRem(8);
	}

	&__item {
		display: flex;
		flex-direction: column;
		padding: toRem(4) toRem(8) toRem(12) toRem(30);
	}

	&__link {
		font-weight: 700;
		font-size: toRem(16);
		color: var(--text-accent);
		@media (any-hover: hover) {
			&:hover {
				color: var(--primary);
			}
		}
	}

	&__text {
		font-weight: 500;
		font-size: toRem(14);
		color: #555;
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}
