// Svg
.icon-wrap {
	width: toRem(27);
	height: toRem(27);
	& svg {
		width: 100%;
		height: 100%;
	}
}

.svg-arrow-down {
	width: toRem(8);
	height: toRem(8);
}
.svg-arrow-back {
	width: toRem(25);
	height: toRem(27);
	color: var(--text-secondary);
	@media (any-hover: hover) {
		&:hover {
			color: var(--primary);
		}
	}
}
.svg-phone {
	width: toRem(18);
	height: toRem(18);
}
.svg-email {
	width: toRem(18);
	height: toRem(18);
}
.svg-dotted {
	width: 20px;
	height: 5px;
}

// For change svg color on color scheme
.svg-color_primary {
	fill: var(--primary);
}

.divider {
	display: flex;
	height: toRem(20);
	width: 1px;
	background-color: var(--border);
}
